@import "../../gpii_base/scss/variables";
@import "utilities.scss";
@import "partials/navbar.scss";
@import "partials/homepage.scss";
@import "partials/beans.scss";
@import "partials/categories.scss";
@import "partials/nodes/node.scss";
@import "partials/nodes/challenges.scss";
@import "partials/nodes/develop.scss";

// #############################################################################
// Color Changes
// #############################################################################

$color-gpii-devspace-bright-green: #009688;

html, body {
  font-size: 15px;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

@media (min-width: 768px) {
  html:not(.force-mobile-layout) body {
    border-top: (140px/15px)*1rem solid transparent;
  }

  #push {
    clear: both;
    height: 8rem !important;
  }
}

.btn:not(.btn-default) {
  &:visited {
    color: #FFF;
  }
}

dl dt {
  margin-bottom: (10px/15px)*1rem;
}

h1 {
  font-size: (32px/15px)*1rem;
  font-weight: 600;
}

h2 {
  font-size: (24px/15px)*1rem;
  font-weight: 600;
}

h3 {
  font-size: (18px/15px)*1rem;
  font-weight: 600;
}

h4 {
  font-size: (15px/15px)*1rem;
}

article, aside, .region-sidebar-first, .region-sidebar-second {
  h2 {
    margin-top: 0;
    font-size: (18px/15px)*1rem;
    font-weight: 600;
  }

  h3 {
    font-size: 1rem;
    font-weight: 600;
  }

  .block, .tag-block {
    margin-bottom: 2rem;
  }
}

@media (min-width: 992px) {
  .page-taxonomy-term section.col-sm-24,
  .page-challenges section.col-sm-24,
  .not-front.node-type-page section.col-sm-24 {
    width: 70%;
    margin: 0 15%;
  }
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 3rem;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#views-exposed-form-taxonomy-term-pages-block {
    .views-exposed-form .views-exposed-widget .form-submit {
      margin-top: 0;
    }
}


.region {
  display: block;
  clear: both;
  overflow: visible;
}

.region-hero {
  clear: both;
  background-color: #FFF;
}

#main-container {
  margin-top: 2rem;
}



#footer-wrap {
  border-color: $color-gpii-devspace-primary;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: $color-gpii-devspace-primary;
}

// Pagination highlight color

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
    background-color: $color-gpii-devspace-primary;
}

.pagination > li {
  & > a, & > span {
    color: $color-gpii-devspace-primary;
    &:hover, &:focus {
      color: $color-gpii-devspace-primary;
    }
  }
}

.btn-primary {
  background-color: $color-gpii-devspace-primary;
  &:focus, &:active, &:hover {
    background-color: darken($color-gpii-devspace-primary, 6%);
  }
}

a {
  color: $color-gpii-devspace-primary;
  &:hover, &:focus, &:active {
    color: darken($color-gpii-devspace-primary, 6%);
  }
  &:visited {
    color: lighten($color-gpii-devspace-primary, 6%);
  }
}

@media (min-width: 768px) {
  #footer-wrap {
    position: relative;
  }
}

.facetapi-facetapi-checkbox-links {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    margin-bottom: .25rem;
  }

  a.facetapi-checkbox {
    display: inline;
    margin-left: .25rem;
  }
}

.homepage-news {
  #challenges {
    background-color: rgb(90, 133, 215);
  }

  #calendar {
    background-color: #eceff1;
  }
}

/**************************************************
** SEARCH
***************************************************/

#search-box {
  overflow: visible;
  padding: 1rem;
  
  @media (min-width: $screen-sm-min) {
    display: none;
  }

  .region-search-box {

    @media (min-width: $screen-sm-min) {
      width: 60%;
      padding-top: 1rem;
      float: right;
      overflow: visible;
    }
  }

  .block-search-api-page {

    form > div {
      display: flex;
      flex-direction: row;
      align-items: start;
    }

    .form-group {
      width: 100%;
      margin-right: 0.5rem;

      .input-group {
        width: 100%;
      }
    }
  }
}

.exposed-form {
  margin-bottom: 2rem;
}
