// USER GROUP BEANS

.card {
	border: 1px solid #FFF;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: (14px/14px)*1rem;
	margin-bottom: 1rem;
	transition: border-color .3s ease,
				box-shadow .3s ease;

	header {
		padding: 0;
	}

	header .fa {
		font-size: (20px/14px)*1rem;
		margin-right: (5px/14px)*1rem;
		margin-top: (2px/14px)*1rem;
	}

	header > h2 {
		display: inline-block;
		font-size: (20px/14px)*1rem;
		margin-top: 0;
		color: #000;
	}
}

.card:hover {
	border-color: $color-gpii-gray;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
}

.story-item {
	position: relative;
	overflow: hidden;
	padding: 2rem 0;
	margin: 0 15px;
} 

// STORIES
@media (max-width: $screen-xs-max) {
	.story-item {
		
		.story-content {
			width: 100%;
		}
		
		.story-image {
			display: none;
		}
	}
}

@media (min-width: $screen-sm-min) {
	.story-item {

		.story-content {
			position: absolute;
			width: 50%;
			max-width: 520px;
			top: 50%;
			transform: translateY(-50%);
			padding-left: 72px;

			p, a {
				font-size: (17px/14px)*1rem;
			}
		}
		.story-image {
			position: relative;
			width: 50%;
			overflow: hidden;
			img {
				display: block;
				height: 100%;
			}
		}
	}

	.image-on-right .story-image {
		text-align: right;
	}

	.image-on-left .story-content {
		left: 50%;
	}	
}
