/***************************************
*
* FEATURED LINKS
*
***************************************/

.bean-featured-link {
	cursor: pointer;
	border-bottom: 3px solid #FFF;
	color: #333;

	img {
		opacity: 0.9;
		margin-bottom: (8px/15px)*1rem;
	}

	.internal-link {
		display: block;
		margin-bottom: (3px/15px)*1rem;
		font-size: (18px/15px)*1rem;
		font-weight: 600;
	}

	&:hover {
		color: #000;
		border-bottom: 3px solid #E5E5E5;

		img {
			opacity: 1;
		}
	}
}

.bean-featured-link.selected {
	border-bottom: 3px solid $color-gpii-devspace-primary;
	color: #000;
	img {
		opacity: 1;
	}

	.internal-link {
		color: #000;
	}
}

/***************************************
*
* STORIES BEANS
*
***************************************/

.region-stories {
	margin: 0 -15px;
}

@media (max-width: $screen-xs-max) {
	.story-item {
		
		.story-content {
			width: 100%;
		}
		
		.story-image {
			width: 100%;
			margin: 0 auto;
		}
	}
}

@media (min-width: $screen-sm-min) {
	.story-item {
		max-width: 1170px;
		margin: 0 auto 3rem;
		overflow: hidden;
		position: relative;

		.story-content {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

			p, a {
				font-size: (17px/15px)*1rem;
			}
		}
		.story-image {
			position: relative;
			overflow: hidden;
			max-height: 320px;
			img {
				display: block;
				max-height: 100%;
				width: auto;
			}
		}
	}

	.views-row-even .story-content,
	.image-on-right .story-content {
		padding-left: 96px;
	}

	.views-row-even .story-image,
	.image-on-right .story-image {
		left: 50%;
	}

	.views-row-odd .story-content, 
	.image-on-left .story-content {
		left: 50%;
		padding-left: 48px;
	}

	.views-row-odd .story-image img, 
	.image-on-left .story-image img {
		float: right;
	}
}

/***************************************
*
* HERO MESSAGE BEANS
*
***************************************/

.hero-message {
	padding-top: 2rem;
	padding-bottom: 2rem;

	h1 {
		color: #000;
		font-weight: 500;
		margin: 0;
		line-height: 44px;
	}
}
