.front {

	.welcome-block {
		margin-bottom: 1em;
	}

	.page-header {
		display: none;
	}

	.region-hero {
		padding: 1em 0;
		text-align: center;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 4px rgba(0,0,0,.04);
		overflow: hidden;
	}

	.input-group {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}

	input[type='text'] {
		font-size: 1.2em;
		padding: 1em;
		margin: 0 auto;
		border-color: #2c3849;
	}

	.btn-primary {
  	background-color: #e5e5e5;
  	color: #2c3849;
  	font-weight: 600;
  	&:focus, &:active, &:hover {
    	background-color: darken(#e5e5e5, 4%);
    	color: darken(#2c3849, 6%);
  	}
  }
}

.card {

	header {
		padding: 10px 0;
		text-align: center;
	}

	header > h2 {
		font-size: 19px;
		color: #FFF;

		.glyphicon {
			top: 0;
			font-size: .8em;
			margin-right: .2em;
		}
	}

	.card-content {
		padding: 15px 20px;
	}
}

#learning-card header {
	background-color: #e44e31;
}

#develop-card header {
	background-color: #084C56;
}

#market-card header {
	background-color: #A72534;
}

#people-card header {
	background-color: #2783c6;
}