.front {

	.welcome-block {
		margin-top: (36px/15px)*1rem;
		margin-bottom: (28px/15px)*1rem;
	}

	.region-hero {
		padding: (35px/15px)*1rem 0;
		text-align: center;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		overflow: hidden;
		background-color: $color-gpii-devspace-primary;
		background-image: url('../images/home_hero_background.png');
  		background-repeat: no-repeat;
  		background-size: cover;
  		background-position: 50% 80%;

  		h1 {
  			text-shadow: 1px 1px 1px #333;
  			margin-top: (20px/15px)*1rem;
  			margin-bottom: (10px/15px)*1rem;
  		}

		p {
			width: 60%;
			margin: 0 auto (20px/15px)*1rem;
			font-size: (20px/16px)*1rem;
			line-height: (32px/15px)*1rem;
		}

		p.highlight {
			text-shadow: 1px 1px 1px #333;
		}

		a,
		a:visited {
			font-size: (18px/15px)*1rem;
			color: #000;
		}

		@media (max-width: $screen-sm-max) {
			width: 100%;
			padding: 0 1em 1em 1em;

			h1 {
				font-size: 2rem;
				line-height: 2.6rem;
			}

			p {
				width: 80%;
			}
		}
	}

	#main-container {
		margin-top: 1rem;
	}

	.region-featured-links {
  		overflow: hidden;
  		margin-bottom: 2rem;
	}

	.view {
		clear: both;
		overflow: hidden;
		margin-bottom: 2em;
	}

	.view-header {
		margin-bottom: 1rem;
		text-align: center;
	}

	.view-content {
		overflow: hidden;
	}

	.view-footer {
		clear: both;
		margin-top: 1.5rem;
		text-align: center;

		a {
			font-size: 1rem;
		}
	}
}

#block-views-recent-components-block {
	clear: both;
}

.components-block {
	.view-header,
	.view-footer {
		text-align: center;
	}

	.components-count-pane {
		text-align: center;
		margin-bottom: 1em;
	}

	ul.components-count-list {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			display: inline-block;
		}

		li:not(.views-row-last) {
			&:after {
				content: "|";
			}
		}
	}
}

.view-success-stories {
	margin-top: 1em;
	.ss-card {
		padding: (20px/15px)*1rem;
		border: 1px solid $color-gpii-gray;

		.ss-card-image > img {
			margin: 0 auto;
			width: 60px;
			height: 60px;
			border-radius: 50%;
		}

		h3 {
			text-align: center;
			margin-bottom: 1.2rem;
		}
	}
}

.view-social .view-content {
	text-align: center;

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			display: inline-block;
		}

		li > a {
    	background-color: #3D4557;
    	border-radius: 2em;
    	color: #EBECEC;
    	display: inline-block;
    	height: 2em;
    	line-height: 2em;
    	margin: auto 3px;
    	width: 2em;
    	font-size: 2em;
    	text-align: center;
		}
	}
}

.upcoming-events-block {
	margin-top: 1rem;
	padding: 0 (20px/15px*1rem);
	background-color: #FAFAFA;
	border: 1px solid #e5e5e5;

	h2 {
		margin-bottom: 2rem;
	}

	h3 {
		margin-top: 0;
	}

	img {
		float: right;
		margin-left: 1rem;
		margin-bottom: 1rem;
	}

	.view {
		margin-bottom: 1rem;
	}

	.view-footer {
		margin-top: (10px/14px)*1rem;
		text-align: left;
	}
}

.key-places-block {
	overflow: hidden;
	margin-top: 1rem;
	padding-bottom: 100px;
	background-image: url('../images/8-bit-team.png');
	background-repeat: no-repeat;
	background-position: left bottom;

	.user-groups-list {
		margin: 2rem 0 0 0;
		padding: 0;
		list-style-type: none;

		li {
			display: inline-block;
			margin-right: 0.5rem;
			margin-bottom: (34px/15px)*1rem;

			a {
				background-color: #FFF;
				border: 1px solid #e5e5e5;
				box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
				padding: (10px/14px)*1rem;
				border-radius: 3px;
			}
		}
	}
}

.hero-logo {
	width: 100px;
	position: absolute;
	top: 0;
	right: 0;

	img {
		max-width: 100%;
	}
}



