# Ignore configuration files that may contain sensitive information.
web/sites/*/settings*.php

# Ignore ISPConfig related paths
web/stats
php_errors.log

# Ignore paths that contain user-generated content.
web/sites/*/files
web/sites/*/private
web/sites/all/themes/devspace/node_modules/*
web/sites/all/themes/devspace/tmpcss/*

# Ignore local symlinks
web/sites/default
