[submodule "web/sites/developerspace.gpii.net/modules/devspace-content-feature"]
	path = web/sites/developerspace.gpii.net/modules/devspace-content-feature
	url = https://github.com/Pushing7/devspace-content-feature.git
[submodule "web/sites/all/modules/bootstrap_accessibility"]
	path = web/sites/all/modules/bootstrap_accessibility
	url = https://git.drupal.org/sandbox/jonasbaertsch/2329711.git
[submodule "web/sites/all/libraries/bootstrap-accessibility-plugin"]
	path = web/sites/all/libraries/bootstrap-accessibility-plugin
	url = https://github.com/paypal/bootstrap-accessibility-plugin.git
[submodule "web/sites/all/modules/saa_advanced_search"]
	path = web/sites/all/modules/saa_advanced_search
	url = git@git.qualtim.com:GPII/saa-advanced-search.git
[submodule "web/sites/all/modules/google_translator"]
	path = web/sites/all/modules/google_translator
	url = https://git.drupal.org/sandbox/fxarte/1473726.git
[submodule "web/sites/all/modules/rating-tool"]
	path = web/sites/all/modules/rating-tool
	url = https://github.com/iluaepidi/rating-tool.git
[submodule "web/sites/all/modules/google_material_icons"]
	path = web/sites/all/modules/google_material_icons
	url = https://git.drupal.org/sandbox/hctom/2513252.git
