# Ignore configuration files that may contain sensitive information.
web/sites/*/settings*.php

# Ignore ISPConfig related paths
web/stats
php_errors.log


# Ignore paths that contain user-generated content.
web/sites/vendor/*
web/sites/vendor/autoload.php
web/sites/vendor/composer/*
web/sites/*/files
web/sites/*/private
web/sites/all/themes/devspace/node_modules/*
web/sites/all/themes/devspace/tmpcss/*
web/sites/all/themes/*/node_modules/*
web/sites/all/themes/*tmpcss/*
web/sites/all/translations/*

# Ignore local symlinks
web/sites/default
web/sites/ul.gpii.net
web/sites/ds.gpii.net
web/sites/gpii.net

# Ignore cache and development files created when generating Sass files.
.sass-cache
*.css.map
prepros-*.config
/web/sites/all/themes/gpii_sai/prepros-6.config

backups
vendor
web/sites/vendor/*
composer.lock
web/sites/vendor/autoload.php
web/sites/vendor/composer/ClassLoader.php
web/sites/vendor/composer/LICENSE
web/sites/vendor/composer/autoload_real.php
web/sites/vendor/composer/installed.json
.vscode/last.sql
web/sites/ngrok.io
web/sites/all/translations/devel-7.x-1.6.de.po
