@import "../../gpii_base/scss/variables";

// #############################################################################
// Blocks
// #############################################################################
#block-bean-search-method-button-standard {
    .container {
        border: 1px solid #cccccc;
        box-shadow: 3px 3px 10px #cccccc;
    }
    h3 {
        @media (min-width: $screen-lg-min) {
          margin-top: 2.6rem;
        }
        font-family: 'Roboto Slab', 'Open Sans', sans-serif;
        font-weight: 600;
        a {
          color: #000;
        }
    }
    .search-method {
        text-align: center;
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    img {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .search-method-input {
        text-align: center;
        padding: 0px 10px 18px 20px;
        @media (min-width: $screen-md-min) {
            margin-top: 10px;
            border-left: solid 2px #cccccc;
            padding: 16px 0 30px 30px;
        }

        .form-control {
            height: 4rem;
            display: inline-block!important;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border: 1px solid #cccccc;
            border-right: 0;

        }
        .btn {
            height: 4rem;
            vertical-align: top;
            line-height: normal;
            background-color: $color-gpii-sai-primary;
            color: #fff;
        }
    }

    #block-views-exp-search-page {
      position: relative;
      .form-submit {
        position: absolute;
        bottom: 0.5rem;
        right: 1.6rem;
        z-index: 200;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border: 1px solid $color-gpii-sai-primary;
      }
      #edit-search-api-views-fulltext-wrapper {
        width: calc(100% - 2rem);
      }
    }
    #block-views-exp-search-page {
      width: 100%;
    }
}

#block-views-exp-search-page {
  position: relative;
}
#block-bean-why-love-saa, #block-bean-saa-testimonials {
    text-align: center;
    margin-top: 50px;
}
#block-bean-saa-social-media {
    border: 1px solid #cccccc;
    background-color: #eeeeee;
    margin-top: 40px;
    padding: 10px 30px;
    .img-responsive {
        display: inline;
        margin-right: 15px;
    }
}

#block-block-6 {
    margin-top: 40px;
    padding-right: 50px;
}

.searchtype {
        border-bottom: 4px solid #cccccc;
        margin-bottom: 1.5em;
        padding-top: 1.5em;
        &:hover, &:focus, &:active {
          background-color: lighten($gray-lighter, 2%);
     }
      p {
        text-align: center;
      }
      h3 {
        text-align: center;
          font-family: 'Roboto Slab';
          font-weight: 600;
      }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

.shop-options {
    text-align: center;
}

#block-bean-search-method-button-virtual-sto, #block-bean-search-method-button-qanda {
//    .construction {
//   border: 1px solid #DDDDDD;
//   width: 200px;
//   height: 200px;
//   position: relative;
//    }
    .sticker {
       position: absolute;
       left: 50%;
       margin-left: -90px;
       bottom: 0;
       z-index: 400;
       width: 100px;
       height: auto;
       & > img {
        max-width: 100%;
        height: auto;
       }
    }
}

.field-name-database-sources-code {
  ul {
    margin-left: 0;
    padding-left: 2rem;
  }
}

// #############################################################################
// Color Changes
// #############################################################################

.region-hero {
  background-color: $color-gpii-sai-primary;
  background-image: url('../images/ulheroimage.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
  text-align: center;
  padding: 50px 0px;
    h3.highlight {
            font-size: 1.5rem;
        }
    .highlight, h1 {
        text-shadow: 1px 1px 1px #333;
    }
}

.jumbotron {
    background-color: #fff;
    p {
        font-size: 1rem;
    }
    padding: 0px!important;
}

.navbar-nav.primary.menu.nav {
  @media (min-width: $screen-sm-min) {
    li {
      & > a {
        &:hover, &:focus {
          border-top-color: $color-gpii-sai-primary;
        }
        &.dropdown > a {
          &:hover, &:focus {
            border-top-color: $color-gpii-sai-primary;
          }
        }
      }
    }
    .dropdown.active > a,
    .dropdown.active > a:hover,
    .dropdown.active > a:focus,
    .active > a,
    .active > a:hover,
    .active > a:focus {
      border-top-color: $color-gpii-sai-primary;
    }

    .dropdown.open > a,
    .dropdown.open > a:hover,
    .dropdown.open > a:focus {
      color: $color-gpii-sai-primary;
      border-top-color: $color-gpii-sai-primary;
      outline: 1px dotted $color-gpii-blue;
    }
  }
}

#footer {
    padding: 0px;
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
    li {
    display: inline;
        margin-right: 30px;
  }
}
#footer {
  border-color: $color-gpii-sai-primary;
}

#navbar {
  .navbar-header {
    p.lead {
      color: $color-gpii-sai-primary;
      text-align: left;
      padding-top: 0.35rem;
      margin-top: .75rem;
        font-size: 1.8666rem;
        font-weight: 600;
      a, a:active, a:hover, a:focus {
        color: $color-gpii-sai-primary;
        font-size: inherit;
      }
    }
  }
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: $color-gpii-sai-primary;
}

// Pagination highlight color


.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color: $color-gpii-sai-primary;
    color: #fff;
    &:not(.btn):visited {
      color: #fff;
    }
}

.pagination > li {
  & > a, & > span {
    color: $color-gpii-sai-primary;
    &:hover, &:focus {
      color: $color-gpii-sai-primary;
    }
  }
}

.btn-primary {
  background-color: $color-gpii-sai-primary;
  &:focus, &:active, &:hover {
    background-color: darken($color-gpii-sai-primary, 6%);
  }
}

a {
  color: $color-gpii-sai-primary;
  &:hover, &:focus, &:active {
    color: darken($color-gpii-sai-primary, 6%);
  }
  &:not(.btn):visited {
    color: lighten($color-gpii-sai-primary, 6%);
  }
}
// #############################################################################
// Search
// #############################################################################

.field-name-accessible-read-more {
  a.read-more {
    & > .fa {
      padding-left: 0.25rem;
    }
  }
}

#block-current-search-standard {
  padding-bottom: 1rem;
  h2 {
    color: $color-gpii-sai-primary;
    font-size: 1.8rem;
    font-weight: 600;
  }
}

// #########################
// Basic Search
// #########################

body.page-search {
  .view-search {

    margin-top: 1rem;
  }
}

.node-product.view-mode-search_results {
  .field-name-field-product-image {
    float: right;
    margin-left: 3em;
    margin-bottom: 2em;
  }

  h3 {
    a {
      font-size: 1.6rem;
    }
  }

  .col-sm-20 {
    div {
      max-width: 60em;
    }
  }

}

#block-views-exp-search-page {
  @media (min-width: $screen-md) {
    width: 85%;
  }

  label {
    font-weight: 600;
  }
  #edit-submit-search {
    line-height: 1.3em;
  }
  #edit-search-api-views-fulltext-wrapper {
    width: calc(100% - 2rem);
    padding: .5em 0 0;
  }
  .form-control {
    border-top-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-color: $color-gpii-med-gray;
    border-right: 0;
    height: 3rem;
  }
  .form-submit {
    height: 3rem;
    position: absolute;
    bottom: 0.5rem;
    right: 2rem;
    z-index: 200;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-color: $color-gpii-sai-primary;
    border-left: 0;
  }
  .input-group {
    display: inline;
  }
  .input-group-addon {
    padding: 0 0;
  }
  .dropdown {
    clear: both;
  }
}

.view-search.view-display-id-page {
  .view-mode-search_results {
    .field-name-field-product-image {
      width: 100%;
      text-align: center;
      margin-bottom: 1em;
      img {
        margin-left: auto;
        margin-right:auto;
        padding: 2rem 0 1rem;
      }
    }

  }
}

// End Basic Search


// #########################
// Advanced Search
// #########################

.page-adv-search {
  .form-control {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #000;
    padding: 0 0.85rem;
    height: 2.5rem;
  }
  .btn.reset {
    line-height: 1.1;
  }
  .list-unstyled {
    border-top: 1px solid #000;
  }
  .col-xs-8 {
    text-align: center;
    margin-bottom: 1em;
    img {
      margin-left: auto;
      margin-right:auto;
      padding: 2rem 0.5rem 0 1rem;
    }
  }
}

// End Advanced Search

/**
 * Home Page Specific Styles
 */

body.front, body.page-node-1903 {
  .highlighted.jumbotron {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2em;
    margin-top: 0;
    .row {
      margin-left: 0;
      margin-right: 0;
    }
      a {
          color: #000;
      }
    #block-bean-shopping-options {
      h3 {
        text-align: center;
      }

      margin-bottom: 1em;
    }
    .searchtype {
        border-bottom: 4px solid #cccccc;
        margin-bottom: 1.5em;
        padding-top: 1.5em;
        &:hover, &:focus, &:active {
          background-color: darken($gray-lighter, 2%);
     }
      p {
        text-align: center;
      }
      h3 {
        text-align: center;
          font-family: 'Roboto Slab';
          font-weight: 600;
      }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    // equal heights for alternative search options
    @media (min-width: $screen-md) {
      .row-flex {
        display: flex;
        & > div {
          display: flex;
          flex-direction: column;
          & .panel {
            cursor: pointer;
            flex-grow: 1;
            a {
              color: #000;
            }
          }
        }
      }
    }
  }
  /**
   * Equal Height for search blocks in the home jumbotron
   */





  /*
 * Row with equal height columns
 * --------------------------------------------------
 */
 h1.page-header {
  display: none;
 }
}

/**
 * Experimental custom button with pure CSS transition/animation
 */

.gpii-button:hover {
    background-color: $color-gpii-sai-primary;
    color: #fff;
    transition: .25s;
    transition-delay: .25s;
}
.gpii-button {
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: .25s;
    border: 0;
    margin: 1rem;
    font-weight:bold;
}

.gpii-button a {
    color: $color-gpii-sai-primary;
    display: block;
    padding: 16px 35px;
    font-size: 1em;
    font-family: 'Montserrat-Bold', sans-serif;
    line-height: 1em;
    transition: .25s;
    text-decoration: none;
}

.gpii-button:hover a {
    color: #fff;
    transition: .25s;
    transition-delay: .25s;
    text-decoration: none;
}

.gpii-button:hover::before {
    left: 0;
    transition: .25s;
}
.gpii-button::before {
    content: "";
    position: absolute;
    width: 12px;
    left: -12px;
    top: 0;
    bottom: 0;
    border-left: 1px solid $color-gpii-sai-primary;
    border-top: 1px solid $color-gpii-sai-primary;
    border-bottom: 1px solid $color-gpii-sai-primary;
    transition: .25s;
    transition-delay: .25s;
}

.gpii-button:hover::after {
    right: 0;
    transition: .25s;
}

.gpii-button::after {
    content: "";
    position: absolute;
    width: 12px;
    right: -12px;
    top: 0;
    bottom: 0;
    border-right: 1px solid $color-gpii-sai-primary;
    border-top: 1px solid $color-gpii-sai-primary;
    border-bottom: 1px solid $color-gpii-sai-primary;
    transition: .25s;
    transition-delay: .25s;
}


// #############################################################################
// Feed 3 Formatting
// #############################################################################

#provideoyourrate {
  .widget_label, .spanstar {
    font-size: 2.5rem;
  }
}

#widget_stars_comments_part.widget_stars #histogram {
  max-width: 50%;
  width: auto;
  text-align: right;
  td > div {
    float: left;
  }
}


// #############################################################################
// Misc.
// #############################################################################

// faceted search
.page-search-facet {
  .block-facetapi {
    ul {
      list-style-type: none;
      padding-left: 1rem;
    }
    .facetapi-checkbox {
      margin-right: 0.4rem;
    }
  }
}

.view-search-facets- {
  .view-mode-search_results {
    h3 {
      margin-top: 0;
    }
    .field-name-field-product-image {
      float: none;
      margin-left: 0;
      margin-bottom:0;
      margin-top: 1rem;
      text-align: center;
    }
  }
}


// Override the formatting from taxonomy term tree
body.node-type-product {
  .term-tree-list .selected {
    font-weight:normal;
  }
}

.term-tree-list {
  ul:first-child {
    margin-left: 0.75em;
  }
  ul {
    margin-left: 0;
    padding-left: 1em;
  }
}


/**
 * Advanced Search Overrides
 */


.tree-classic li {
  &:focus, &:active        {
    outline: #484848 dotted thin;
    background-color: lighten($color-gpii-sai-primary, 55%); // go with #f4f4f4 if pink doesn't fly;
  }
}

.tree-classic {
  padding-left: 1.5rem;
  ul {
    padding-left: 1.25rem;
  }
}

.text-inverse {
  color: #fff;
}
.label-lg {
  font-size: 1rem;
}
.label-default {
  background-color: #111;
}
.text-left .taxonomy-label {
  position: relative;
}
.text-right .taxonomy-label {
  position: relative;
}
.text-right .taxonomy-label::before {
  content:" ";
  border-style: solid;
  border-width: 11.5px 0 11px 11px;
  border-color: transparent transparent transparent #000;
  position: absolute;
  right: -.78rem;
  // top:0;
}
.text-left .taxonomy-label::before {
  content:" ";
  border-style: solid;
  border-width: 11px 11px 11.5px 0;
  border-color: transparent #A72534 transparent transparent;
  position: absolute;
  left: -.775rem;
  // top:0;
}
.label.taxonomy-label {
  margin: 0 1rem 0.25rem;
  display: inline-block;
  // white-space: nowrap; This allows labels to wrap to a second line, but is very inconsistent between Chrome and FF
  text-align: left;
  padding: 0.1rem 1.5rem 0 0.5rem;


  .fa.fa-close {
    position: absolute;
    top: 0.34rem;
    right: 0.25rem;
  }
}

.taxonomy-label.label-default {
  background-color: #111;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

}

.taxonomy-label.label-danger {
  background-color: #A72534;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  .fa.fa-close {
    right: 0.4rem;
  }
}

.input-stretch {
  display: block;
  width: 100% !important;
}
.search-group {
  position: relative;
}
.search-group > button {
  padding-right: 0.8rem;
  border: 1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 2.25rem;
}
.search-group > button:after {
  display: block;
  width: 15px;
  height: 15px;
  background-color: transparent;
  z-index: 1;
  margin: auto;
  padding: 2px;
  text-align: center;
  color: grey;
  font-weight: normal;
  font-size: 12px;
  cursor: pointer;
}
.search-group input[name="search"]:not(:valid) ~ button {
  display: none;
}

.btn-primary.reset {
  border-color: transparent;
  font-weight: bold;
}

.btn-link.sharelink {
  color: #A72534;
}

.btn-link.sharelink:hover, .btn-link.sharelink:focus {
    color: #8E212E;
  }

#saa-app.hide-until-loaded {
  display: none;
}

#status-root {
  display: none;
}

a.tree-label {
  color: #000;
  &:focus, &:active, &:hover {
    color: $color-gpii-sai-primary;
  }
}

#saa-app {
  .btn-link.btn-info {
    font-size: .9rem;
    border-radius: 2px;
    padding: 0.25rem 1.5rem;
    border-color: #444444;
    color:  #444444;
    text-decoration: none;
    &:hover, &:active, &:focus {
      background-color: #f4f4f4;
      border-color: #000;
    }

  }
  button.reset {
    padding: 0.5rem 4rem;
    float:right;
    position: relative;
    z-index: 500;
    margin-top: 2px;
  }

  .filters {
    z-index: 100;
    margin-top: -3rem;
  }

  .tree-classic {
    a {
      color: #000;
      &:not(.btn):visited {
        color: #000;
      }
    }
  }

}


/**
 * P4A Rating Tool and Feed3 Styles
 */

.group-feed3 {
  .widget_stars .blue_button {
    background-color: $color-gpii-sai-primary;
    &:focus, &:hover {
      outline: none;
      text-shadow: none;
      background-color: darken($color-gpii-sai-primary, 6%);
    }
  }

  h2, h2 > span.widgetStrings {
    margin-top: 1.42857143rem;
    margin-bottom: 0.71428571rem;
    font-size: 1.4rem;
  }

  .help-block {
    font-size: 0.9rem;
  }

  textarea {
    height:2.5rem;
    -webkit-transition: all 1s ease-in-out;
  }

  textarea:focus, textarea:active {
    height:calc(100% - 2.5rem);
    -webkit-transition: all 1s ease-in-out;
  }


  .webform-client-form:focus, .webform-client-form:active {
    & > div {
      height:20rem;
      textarea {
        height:calc(100% - 2.5rem);
        -webkit-transition: all 1s ease-in-out;
      }
    }
  }
}

// End P4A Rating Tool Styles


/**
 * Open Marketplace
 */

#bootstrap-fieldgroup-accordion--product-info {
  .panel {
    box-shadow: 3px 3px 10px #cccccc;
  }
  .panel-heading {
    h2 {
      a::before {
        content: '\f078';
        font-family: FontAwesome;
        font-size: 0.8em;
      }
      a.collapsed::before {
        content: '\f054';
      }
    }
  }
  .panel-default > .panel-heading {
    background-color: $color-gpii-light-gray;
  }
  .panel-default {
    border: none;
  }
  .panel-body {
    padding: 0 1rem 0;
  }

  // @@ make the active control mouse/hover unfriendly
  .panel-heading {
    a:not(.collapsed) {
      color: $color-gpii-dark-gray;
      &:hover, &:focus {
        text-decoration: none;
        cursor: default;
        outline: none;
      }
    }
  }
}

.node-type-open-marketplace-product {
  h1, .tabs--primary, .region-content {
    background: #fff;
    z-index: 10;
    position: relative;
  }

  h1 {
    border-bottom: 1px solid $color-gpii-med-gray;
  }

  .region-hero {
    background-color: $color-gpii-sai-primary;
    padding:0 0 0 0;
    border-radius: 0;
    #OMicon {
      width: 11rem;
      margin-bottom: -.6rem;
      padding-top: 0.4rem;
    }
  }

  .field-name-field-om-product-image {
    margin-bottom: 1rem;
    img {
      margin: auto;
    }
  }

  .field-name-field-om-manufacturer-reference {
    margin-bottom: 1rem;
  }


  #main-container {
    margin-top: 1.5rem;

    .col-sm-6 {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    .field-product-price {
      font-size: 1.8em;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .btn-purchase {
      background-color: #FFBB00;
      width: 100%;
      &:hover, &:focus {
        background-color: darken(#FFBB00, 5%)
      }
    }

    .field-access-features {
      h2 {
        font-size: 1.3rem;
        font-weight: 700;
      }
      ul {
        padding-left: 2rem;
        li {
          margin-bottom: 1.3rem;
        }
      }
    }
  }
}


@media (min-width: $screen-sm) {
  .node.node-open-marketplace-product {
    .row {
      overflow: hidden;
      .col-sm-18 {
        border-right: 1px solid $color-gpii-dark-gray;
        padding-right: 1.5rem;
      }
      .col-sm-18, .col-sm-6 {
        padding-bottom: 2000rem;
        margin-bottom: -2000rem;
      }
    }
  }
}

@media (min-width: $screen-lg + 300px) { // ~1500 px
  .region-highlighted {
    z-index: 0;
  }
  .region-hero {
    background-color: transparent !important;
    overflow: visible;
    top: 10rem;
    left: 0;
    float: none;
    #OMicon {
      width: 12rem;
      margin-bottom: auto;
      padding-top: 0;
    }
  }

}

// End Open Marketplace


/**
 * Product Slideshow Overrides
 */


.field-name-field-product-image {
  .mfp-thumbnail-tiny.img-responsive {
    max-width: 3rem;
    display: inline;
  }
  .mfp-title {
    padding-right: 0;
    display:inline-block;
    border: 1px solid $color-gpii-med-gray;
    padding: 2px;
    margin: 0.5rem 0.5rem 0.5rem 0;
  }
  a:focus {
    outline: none;
.mfp-title, .mfp-thumbnail {
      outline: 1px dotted $color-gpii-blue;
    }
  }
  margin-bottom: 1rem;
}

.mfp-close {
  span {
    pointer-events: none; // fix Chrome bug with x on magnific popup
  }
}


// End Product Slideshow CSS

/**
 * Editorial progress view and Curator's notes
 */

#block-views-node-flag-report-block {
  background: #FFFDD9;
  border-color: $color-gpii-gray;
  border-style: solid dotted;
  border-width: 1px;
  padding: 0;

  h2 {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
    color: $color-gpii-gray;
    padding: 0.6rem 0.5rem 0.5rem;
    background: #666;
  }

  table {
    margin: 0.5rem 1rem 0.5rem 0;
    th {
      padding-bottom: 0.15rem;
    }
  }
  th.views-field-view {
    padding-left: 11.7rem;
  }
  .view-node-flag-report { // width of first column
    .views-field-view {
      width: 16rem;
    }
  }
  .view-node-flag-done.view-display-id-block_2 {
    .views-field {
      position: relative;
    }
  }

  .view-node-flag-done.view-display-id-block_1 {
    .views-field {
      padding-left: 1.7rem;
    }
  }
  .flag-photo-complete, .flag-description-complete, .flag-alt-title-complete, .flag-mfgr-complete, .flag-taxonomy-complete, .flag-wheretobuy-complete {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 12rem;
  }
  input[type="checkbox"] {
    margin: 0;
  }
}

.field-name-field-notes {
  background: #FFFDD9;
  border-color: $color-gpii-gray;
  border-style: solid dotted;
  border-width: 1px;
  border-top: none;
  padding: 1rem 0.5rem;
}

.view-editorial-status {
  .table-condensed > tbody > tr > td {
    padding: 0.5rem 0.25rem 0.25rem 0.25rem;
  }
  .view-filters {
    label {
      font-size: 0.9rem;
    }
  }

  .view-header {
    border-bottom: 1px solid $color-gpii-dark-gray;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
  }

// Add some padding below the keywords filter
  #edit-combine-wrapper {
    margin-bottom: 1rem;
  }

  #edit-flagged-wrapper {
    clear: both;
  }

  div[class*=" views-widget-filter-flagged"] {
    min-width: 15rem;
  }

  div[class*=" views-widget-filter-flagged"]:nth-child(3n) {
    clear: both;
  }

  #edit-secondary-wrapper {
    margin-top: 1rem;
    width: 100%;
    clear: both;
  }

  div[class*="-button"] {
    margin: 1rem 0.5rem 1rem 0;
    .btn {
      font-size: 1.6rem;
    }
  }

  legend {
    .panel-title {
      font-size: 1.5rem;
    }
  }

  .views-field-edit-node {
    text-align: center;
  }

  .views-field-views-bulk-operations {
    .checkbox {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 0;
  }
}

div.discontinued {
  font-weight:bold;
  font-size: 1.2rem;
  border-left: 4px solid $color-gpii-sai-primary;
  padding-left: 0.6rem;
  margin: 1rem 0;
}
