@import "../../gpii_base/scss/variables";

// #############################################################################
// Color Changes
// #############################################################################

.region-hero {
  background-color: $color-gpii-sai-primary;
}

.navbar-nav.primary.menu.nav {
  @media (min-width: $screen-sm-min) {
    li {
      & > a {
        &:hover, &:focus {
          border-top-color: $color-gpii-sai-primary;
        }
        &.dropdown > a {
          &:hover, &:focus {
            border-top-color: $color-gpii-sai-primary;
          }
        }
      }
    }
    .dropdown.active > a,
    .dropdown.active > a:hover,
    .dropdown.active > a:focus,
    .active > a,
    .active > a:hover,
    .active > a:focus {
      border-top-color: $color-gpii-sai-primary;
    }

    .dropdown.open > a,
    .dropdown.open > a:hover,
    .dropdown.open > a:focus {
      color: $color-gpii-sai-primary;
      border-top-color: $color-gpii-sai-primary;
      outline: 1px dotted $color-gpii-blue;
    }
  }
}

#footer-wrap {
  border-color: $color-gpii-sai-primary;
}

#navbar {
  .navbar-header {
    p.lead {
      color: $color-gpii-sai-primary;
      text-align: left;
      padding-top: 0.35rem;
      margin-top: 1rem;
      a, a:active, a:hover, a:focus {
        color: $color-gpii-sai-primary;
        font-size: inherit;
      }
    }
  }
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: $color-gpii-sai-primary;
}

// Pagination highlight color


.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color: $color-gpii-sai-primary;
}

.pagination > li {
  & > a, & > span {
    color: $color-gpii-sai-primary;
    &:hover, &:focus {
      color: $color-gpii-sai-primary;
    }
  }
}

.btn-primary {
  background-color: $color-gpii-sai-primary;
  &:focus, &:active, &:hover {
    background-color: darken($color-gpii-sai-primary, 6%);
  }
}

a {
  color: $color-gpii-sai-primary;
  &:hover, &:focus, &:active {
    color: darken($color-gpii-sai-primary, 6%);
  }
  &:visited {
    color: lighten($color-gpii-sai-primary, 6%);
  }
}
// #############################################################################
// Search
// #############################################################################

.field-name-accessible-read-more {
  a.read-more {
    & > .fa {
      padding-left: 0.25rem;
    }
  }
}

#block-current-search-standard {
  padding-bottom: 1rem;
  h2 {
    color: $color-gpii-sai-primary;
    font-size: 1.8rem;
    font-weight: 600;
  }
}

// #########################
// Basic Search
// #########################

body.page-search {
  .view-search {

    margin-top: 1rem;
  }
}

.node-product.view-mode-search_results {
  .field-name-field-product-image {
    float: right;
    margin-left: 3em;
    margin-bottom: 2em;
  }

  h3 {
    a {
      font-size: 1.6rem;
    }
  }

  .col-sm-20 {
    div {
      max-width: 60em;
    }
  }

}

#block-views-exp-search-page {
  label {
    font-weight: 600;
  }
  #edit-submit-search {
    line-height: 1.3em;
  }
  #edit-search-api-views-fulltext-wrapper {
    width: calc(82% - 10rem);
    padding: .5em 0 0;
  }
  .form-control {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #000;
    border-right: 0;
  }
  .form-submit {
    margin-top: 1.775em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #000;
    border-left: 0;
  }
  .input-group {
    display: inline;
  }
  .input-group-addon {
    padding: 0 0;
  }
  .dropdown {
    clear: both;
  }
}

.view-search.view-display-id-page {
  .view-mode-search_results {
    .field-name-field-product-image {
      width: 100%;
      text-align: center;
      margin-bottom: 1em;
      img {
        margin-left: auto;
        margin-right:auto;
        padding: 2rem 0 1rem;
      }
    }

  }
}

// End Basic Search


// #########################
// Advanced Search
// #########################

.page-adv-search {
  .form-control {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #000;
    padding: 0 0.85rem;
    height: 2.5rem;
  }
  .btn.reset {
    line-height: 1.1;
  }
  .list-unstyled {
    border-top: 1px solid #000;
  }
  .col-xs-8 {
    text-align: center;
    margin-bottom: 1em;
    img {
      margin-left: auto;
      margin-right:auto;
      padding: 2rem 0.5rem 0 1rem;
    }
  }
}

// End Advanced Search

/**
 * Home Page Specific Styles
 */

body.front {
  .highlighted.jumbotron {
    background-color: $gray-lighter;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2em;
    margin-top: 0;
    .row {
      margin-left: 0;
      margin-right: 0;
    }
    #block-bean-shopping-options {
      h2 {
        text-align: center;
        margin-top: 0;
      }

      margin-bottom: 1em;
    }

    .searchtype {
        border: 2px solid #ddd;
        border: 2px solid rgba(86,61,124,.2);
        padding: 1.5em 1.5em;
        margin-bottom: 1.5em;
        border-radius: 20px;
        &:hover, &:focus, &:active {
          background-color: lighten($gray-lighter, 2%);
     }
      p {
        text-align: center;
      }
      h2 {
        text-align: center;
      }
    }
  /**
   * Equal Height for search blocks in the home jumbotron
   */
    @media (min-width: $screen-md) {
      .row-flex, .row-flex > div[class*='col-'] {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex:1 1 auto;
      }

      .row-flex-wrap {
        -webkit-flex-flow: row wrap;
          align-content: flex-start;
          flex:0;
      }

      .row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
         margin:-.2px; /* hack adjust for wrapping */
      }

      .container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div:not(.contextual-links-wrapper) {
        width:100%;
      }

      .flex-col {
          display: flex;
          display: -webkit-flex;
          flex: 1 100%;
        flex-flow: column nowrap;
      }

      .flex-grow {
        display: flex;
          -webkit-flex: 2;
          flex: 2;
      }
    }
  }
  /*
 * Row with equal height columns
 * --------------------------------------------------
 */
 h1.page-header {
  display: none;
 }
}

/**
 * Experimental custom button with pure CSS transition/animation
 */

.gpii-button:hover {
    background-color: $color-gpii-sai-primary;
    color: #fff;
    transition: .25s;
    transition-delay: .25s;
}
.gpii-button {
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: .25s;
    border: 0;
    margin: 1rem;
    font-weight:bold;
}

.gpii-button a {
    color: $color-gpii-sai-primary;
    display: block;
    padding: 16px 35px;
    font-size: 1em;
    font-family: 'Montserrat-Bold', sans-serif;
    line-height: 1em;
    text-transform: uppercase;
    transition: .25s;
    text-decoration: none;
}

.gpii-button:hover a {
    color: #fff;
    transition: .25s;
    transition-delay: .25s;
    text-decoration: none;
}

.gpii-button:hover::before {
    left: 0;
    transition: .25s;
}
.gpii-button::before {
    content: "";
    position: absolute;
    width: 12px;
    left: -12px;
    top: 0;
    bottom: 0;
    border-left: 1px solid $color-gpii-sai-primary;
    border-top: 1px solid $color-gpii-sai-primary;
    border-bottom: 1px solid $color-gpii-sai-primary;
    transition: .25s;
    transition-delay: .25s;
}

.gpii-button:hover::after {
    right: 0;
    transition: .25s;
}

.gpii-button::after {
    content: "";
    position: absolute;
    width: 12px;
    right: -12px;
    top: 0;
    bottom: 0;
    border-right: 1px solid $color-gpii-sai-primary;
    border-top: 1px solid $color-gpii-sai-primary;
    border-bottom: 1px solid $color-gpii-sai-primary;
    transition: .25s;
    transition-delay: .25s;
}


// #############################################################################
// Feed 3 Formatting
// #############################################################################

#provideoyourrate {
  .widget_label, .spanstar {
    font-size: 2.5rem;
  }
}

#widget_stars_comments_part.widget_stars #histogram {
  max-width: 50%;
  width: auto;
  text-align: right;
  td > div {
    float: left;
  }
}


// #############################################################################
// Misc.
// #############################################################################

// faceted search
.page-search-facet {
  .block-facetapi {
    ul {
      list-style-type: none;
      padding-left: 1rem;
    }
    .facetapi-checkbox {
      margin-right: 0.4rem;
    }
  }
}

.view-search-facets- {
  .view-mode-search_results {
    h3 {
      margin-top: 0;
    }
    .field-name-field-product-image {
      float: none;
      margin-left: 0;
      margin-bottom:0;
      margin-top: 1rem;
      text-align: center;
    }
  }
}


// Override the formatting from taxonomy term tree
body.node-type-product {
  .term-tree-list .selected {
    font-weight:normal;
  }
}

.term-tree-list {
  ul:first-child {
    margin-left: 0.75em;
  }
  ul {
    margin-left: 0;
    padding-left: 1em;
  }
}


/**
 * Advanced Search Overrides
 */

tree-control.tree-dark li .tree-selected,
tree-control.tree-light li .tree-selected {
  font-weight: 700;
}
tree-control {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 13px;
  color: #555;
}
tree-control.tree-classic li .tree-unselectable,
tree-control.tree-light li .tree-unselectable {
  color: #ddd;
}
tree-control ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}
tree-control li {
  position: relative;
  line-height: 1.5;
}
tree-control li.tree-collapsed i.tree-leaf-head,
tree-control li.tree-expanded i.tree-leaf-head {
  display: none
}
tree-control li.tree-collapsed i.tree-branch-head,
tree-control li.tree-expanded i.tree-branch-head {
  display: inline;
}
tree-control li.tree-leaf i.tree-branch-head {
  display: none;
}
tree-control li.tree-leaf i.tree-leaf-head {
  display: inline;
}
tree-control li i.tree-branch-head {
  cursor: pointer;
}
tree-control li .tree-label {
  cursor: pointer;
  display: inline;
  padding-right: 0.1rem;
}
tree-control li .tree-unselectable {
  cursor: not-allowed;
}
tree-control.tree-classic li.tree-branch-head {
  position: relative;
}
tree-control.tree-classic li.tree-branch-head.expanded ul {
  margin-left: 1rem;
}
tree-control.tree-classic li.tree-branch-head.expanded a {
  background: url(images/folder.png) 0 6px no-repeat;
  padding-left: 2.5rem;
}
tree-control.tree-classic li.tree-branch-head.collapsed a {
  background: url(images/folder-closed.png) 0 6px no-repeat;
  padding-left: 2.5rem;
}

tree-control.tree-classic li.tree-branch-head .pretty,
tree-control.tree-classic li.tree-leaf-head .pretty {
  position: absolute;
  z-index: 200;
  left:  1.1rem;
  margin: 4px 0 0 1px;
}

tree-control.tree-classic li.tree-branch-head a.tree-label ,
tree-control.tree-classic li.tree-leaf-head a.tree-label {
  position: relative;
  z-index: 100;
  padding-left: 2.6rem;
}

tree-control.tree-classic li.tree-branch-head span.label-group {
  text-indent: -2.6rem;
  margin-left: 2.6rem;
  display: inline-block;
}

tree-control.tree-classic li.tree-branch-head.expanded li.tree-leaf-head span.label-group {
  text-indent:0;
  margin-left: 0;
}

tree-control.tree-classic li.tree-branch-head span.tree-label,
tree-control.tree-classic li.tree-leaf-head span.tree-label {
  position: relative;
  z-index: 100;
}

tree-control.tree-classic li.tree-leaf-head {
  padding: 0 0 0 2.6rem;
}

tree-control.tree-classic li .tree-selected {
  background-color: #adf;
  font-weight: 700;
}
.text-inverse {
  color: #fff;
}
.label-lg {
  font-size: 1rem;
}
.label-default {
  background-color: #111;
}
.text-left .taxonomy-label {
  position: relative;
}
.text-right .taxonomy-label {
  position: relative;
}
.text-right .taxonomy-label::before {
  content:" ";
  border-style: solid;
  border-width: 0.73rem 0 0.73rem 0.95rem;
  border-color: transparent transparent transparent #000;
  position: absolute;
  right: -.95rem;
  top:0;
}
.text-left .taxonomy-label::before {
  content:" ";
  border-style: solid;
  border-width: .8rem 1rem .8rem 0;
  border-color: transparent #A72534 transparent transparent;
  position: absolute;
  left: -.95rem;
  top:0;
}
.label.taxonomy-label {
  margin: 0 1rem 0.25rem;
  display: inline-block;
  white-space: normal;
  text-align: left;
  padding: 4px 1.5rem 4px 0.5rem;


  .fa.fa-close {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
  }
}

.taxonomy-label.label-default {
  background-color: #111;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

}

.taxonomy-label.label-danger {
  background-color: #A72534;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  .fa.fa-close {
    right: 0.4rem;
  }
}

.input-stretch {
  display: block;
  width: 100% !important;
}
.search-group {
  position: relative;
}
.search-group > button {
  padding-right: 0.8rem;
  border: 1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 2.25rem;
}
.search-group > button:after {
  display: block;
  width: 15px;
  height: 15px;
  background-color: transparent;
  z-index: 1;
  margin: auto;
  padding: 2px;
  text-align: center;
  color: grey;
  font-weight: normal;
  font-size: 12px;
  cursor: pointer;
}
.search-group input[name="search"]:not(:valid) ~ button {
  display: none;
}

.btn-primary.reset {
  border-color: transparent;
  font-weight: bold;
}

.btn-link.sharelink {
  color: #A72534;
}

.btn-link.sharelink:hover, .btn-link.sharelink:focus {
    color: #8E212E;
  }

#saa-app.hide-until-loaded {
  display: none;
}

#status-root {
  display: none;
}

/**
 * P4A Rating Tool and Feed3 Styles
 */

.group-feed3 {
  .widget_stars .blue_button {
    background-color: $color-gpii-sai-primary;
    &:focus, &:hover {
      outline: none;
      text-shadow: none;
      background-color: darken($color-gpii-sai-primary, 6%);
    }
  }

  h2, h2 > span.widgetStrings {
    margin-top: 1.42857143rem;
    margin-bottom: 0.71428571rem;
    font-size: 1.4rem;
  }

  .help-block {
    font-size: 0.9rem;
  }

  textarea {
    height:2.5rem;
    -webkit-transition: all 1s ease-in-out;
  }

  textarea:focus, textarea:active {
    height:calc(100% - 2.5rem);
    -webkit-transition: all 1s ease-in-out;
  }


  .webform-client-form:focus, .webform-client-form:active {
    & > div {
      height:20rem;
      textarea {
        height:calc(100% - 2.5rem);
        -webkit-transition: all 1s ease-in-out;
      }
    }
  }
}

// End P4A Rating Tool Styles


/**
 * Open Marketplace
 */

#bootstrap-fieldgroup-accordion--product-info {
  .panel {
    box-shadow: none;
  }
  .panel-heading {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    h2 {
      a::before {
        content: '\f078';
        font-family: FontAwesome;
        font-size: 0.8em;
      }
      a.collapsed::before {
        content: '\f054';
      }
    }
  }
  .panel-default > .panel-heading {
    background-color: $color-gpii-light-gray;
  }
  .panel-default {
    border: none;
  }
  .panel-body {
    padding: 0 1rem 0;
  }

  // @@ make the active control mouse/hover unfriendly
  .panel-heading {
    a:not(.collapsed) {
      color: $color-gpii-dark-gray;
      &:hover, &:focus {
        text-decoration: none;
        cursor: default;
        outline: none;
      }
    }
  }
}

.node-type-open-marketplace-product {
  h1, .tabs--primary, .region-content {
    background: #fff;
    z-index: 10;
    position: relative;
  }

  h1 {
    border-bottom: 1px solid $color-gpii-med-gray;
  }

  .region-hero {
    background-color: $color-gpii-sai-primary;
    padding:0 0 0 0;
    border-radius: 0;
    #OMicon {
      width: 11rem;
      margin-bottom: -.6rem;
      padding-top: 0.4rem;
    }
  }

  .field-name-field-om-product-image {
    margin-bottom: 1rem;
    img {
      margin: auto;
    }
  }

  .field-name-field-om-manufacturer-reference {
    margin-bottom: 1rem;
  }


  #main-container {
    margin-top: 1.5rem;

    .col-sm-6 {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    .field-product-price {
      font-size: 1.8em;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .btn-purchase {
      background-color: #FFBB00;
      width: 100%;
      &:hover, &:focus {
        background-color: darken(#FFBB00, 5%)
      }
    }

    .field-access-features {
      h2 {
        font-size: 1.3rem;
        font-weight: 700;
      }
      ul {
        padding-left: 2rem;
        li {
          margin-bottom: 1.3rem;
        }
      }
    }
  }
}


@media (min-width: $screen-sm) {
  .node.node-open-marketplace-product {
    .row {
      overflow: hidden;
      .col-sm-18 {
        border-right: 1px solid $color-gpii-dark-gray;
        padding-right: 1.5rem;
      }
      .col-sm-18, .col-sm-6 {
        padding-bottom: 2000rem;
        margin-bottom: -2000rem;
      }
    }
  }
}

@media (min-width: $screen-lg + 300px) { // ~1500 px
  .region-highlighted {
    z-index: 0;
  }
  .region-hero {
    background-color: transparent !important;
    overflow: visible;
    position: fixed;
    top: 10rem;
    left: 0;
    float: none;
    width: 16rem;
    #OMicon {
      width: 12rem;
      margin-bottom: auto;
      padding-top: 0;
    }
  }

}

// End Open Marketplace

.field-name-field-product-image {
  .mfp-thumbnail-tiny.img-responsive {
    max-width: 3rem;
    display: inline;
  }
  .mfp-title {
    padding-right: 0;
    display:inline-block;
    border: 1px solid $color-gpii-med-gray;
    padding: 2px;
    margin: 0.5rem 0.5rem 0.5rem 0;
  }
  a:focus {
    outline: none;
.mfp-title, .mfp-thumbnail {
      outline: 1px dotted $color-gpii-blue;
    }
  }
  margin-bottom: 1rem;
}
