// DeveloperSpace Walktrhough - https://ds.gpii.net/content/developerspace-walkthrough

$color-walkthrough-headings: #006696;
.ds-walkthrough {
  .wt-item {
    h2 {
      font-size: 1.6rem;
      line-height: 1.2;
      border-top: 1px #B2B2B2 solid;
      border-bottom: 1px #B2B2B2 solid;
      padding: 1rem 0;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      color: $color-walkthrough-headings;
    }
  }
  .wt-learning {
  }
  .wt-item {
    h3 {
      margin-top: 0.25rem;
      margin-bottom: 0.5rem;
      font-size: 1.1rem;
    }
  }
  .ds-main {
    a {
      color: #e74c3c;
      font-weight: bold;
      text-decoration: underline;
      &:hover {
        color: darken(#e74c3c, 15%);
      }
    }
  }
}

