// FULL PAGE
.view-mode-full {

	.field {
		margin-bottom: 1em;
	}

	.group-user-info {
		margin-bottom: 1em;
	}

	.group-action-links {
		display: block;
		clear: both;
		overflow: hidden;
		margin-bottom: 1em;
		padding: .5em 0;
		border-bottom: 1px solid $color-gpii-gray;

		div {	
			display: inline-block;
			margin-right: (10px/14px)*1rem;
		}
	}

	article {
		img {
			float: left;
			margin-right: 1em;
			margin-bottom: 1em;
		}
	}

	aside {
		h3 {
			font-size: (13px/14px)*1rem;
			text-transform: uppercase;
			font-weight: 600;
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				margin-bottom: (7px/14px)*1rem;
			}
		}
	}
}


// TEASER
.node-teaser {
	padding-top: 1em;
	padding-bottom: 1em;
	border-top: 1px solid rgb(226, 226, 226);

	h2 {
		margin-top: 0;
		margin-bottom: .25em;
		line-height: (20px/14px)*1rem;
		font-size: (18px/14px)*1rem;
		a {
			font-size: (18px/14px)*1rem;	
		}
	}

	.node-teaser-subtitle {
		color: #666;
	}

	.node-teaser-body {
		margin-top: (10px/14px)*1rem;
	}
}

// NODE CARD
.node-card {
	padding: 0;
	float: none;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 2rem;
	border: 1px solid $color-gpii-gray;
	border-radius: 5px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, .1);
	overflow: hidden;

	.card-header {
		overflow: hidden;
		@include aspect-ratio(16,9);
	}

	h2 {
		margin: .5rem 0;
		font-size: (18px/14px)*1rem;
		font-weight: 600;
	}

	.card-content {
		padding: 1rem;

		p {
			font-size: (13px/14px)*1rem;
			margin: 1em 0;
		}
	}

	.card-footer {
		padding: .3em 1em 1em 1em;
		overflow: hidden;
		div {
			display: inline-block;
			margin-right: (7px/14px)*1rem;
		}
	}

	@media (min-width: 480px) and (max-width: 991px) {

		border: 0;
		border-bottom: 1px solid $color-gpii-med-gray;
		box-shadow: none;
		margin-bottom: 1rem;

		.card-header {
			width: 33%;
			float: left;
			height: 100%;
		}

		.card-content {
			padding-top: 0;
		}

		.card-content,
		.card-footer {
			margin-left: 33%;
			padding-left: 1em;
		}
	}
}

// NODE OVERVIEW

.node-overview-list {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.node-overview {
	float: none;
	display: inline-block;
	vertical-align: top;
	padding: (7px/14px)*1rem;
	margin-right: -4px;
	margin-bottom: 1em;
	border: 1px solid #FFF;
	transition: border-color .2s ease,
				box-shadow .2s ease;

	.category-icon {
		display: inline-block;
		float: left;

		i.fa {
			font-size: 18px;
			line-height: 22px;
			color: #777;
		}
	}

	h3 {
		margin-top: 0;
    	margin-left: 24px;
    	margin-bottom: (3px/14px)*1rem;
    	font-size: (14px/14px)*1rem;
    	line-height: (22px/14px)*1rem;
    	font-weight: 600;
	}

	span {
		font-size: (13px/14px)*1rem;
		color: #777;
	}

	.span-published {
		margin-left: 24px;
	}

	&:hover {
		border-color: $color-gpii-gray;
		box-shadow: 1px 1px 4px rgba(0, 0, 0, .1);
		h3 > a {
			color: #009688;
		}
	}
}

// ADD NODE LIST
.node-type-list {
	dt {
		border-top: 1px solid #CCC;
		padding: .5em 0;

		a:before {
			content: "+";
			font-size: 1.1em;
			margin-right: .3em;
			color: #666;
		}
	}
	dd {
		padding-bottom: .5em;
		text-indent: 1em;
	}
}