.node-reference.view-mode-full {

	.field-ref-row {
		overflow: hidden;
	}

	.field-ref-label {
		margin-bottom: 1em;
		color: #777;

		@media(min-width: $screen-md-min) {
			width: 200px;
			float: left;
			text-align: right;
		}
	}

	.field-ref-items {
		margin-bottom: 1em;
		@media(min-width: $screen-md-min) {
			margin-left: 216px;
		}
	}
}

.node-reference.node-teaser {

	.group-metadata {
		margin-bottom: (10px/14px)*1rem;
		color: #666;
	}

	.group-metadata > .reference-type {
		color: #333;
	}

	.group-metadata,
	.group-metadata > span,
	.group-metadata > a {
		font-size: (13px/14px)*1rem;
	}
}

.field-publication-authors:not(.last) {
	margin-right: .3em;
	&:after {
		content: ",";
	}
} 

.user-info-picture {
	img {
		width: 40px;
		float: left;
		border-radius: 100%;
		margin-right: (10px/14px)*1rem;
	}
}

.group-action-links > div {
	display: inline-block;
	margin-right: (7px/14px)*1rem;
}

