.region-hero {
  background-color: #A72534; }

@media (min-width: 768px) {
  .navbar-nav.primary.menu.nav li > a:hover {
    border-top-color: #A72534; }
  .navbar-nav.primary.menu.nav li > a.dropdown > a:hover {
    border-top-color: #A72534; }
  .navbar-nav.primary.menu.nav .dropdown.active > a,
  .navbar-nav.primary.menu.nav .dropdown.active > a:hover,
  .navbar-nav.primary.menu.nav .dropdown.active > a:focus,
  .navbar-nav.primary.menu.nav .active > a,
  .navbar-nav.primary.menu.nav .active > a:hover,
  .navbar-nav.primary.menu.nav .active > a:focus {
    border-top-color: #A72534; }
  .navbar-nav.primary.menu.nav .dropdown.open > a,
  .navbar-nav.primary.menu.nav .dropdown.open > a:hover,
  .navbar-nav.primary.menu.nav .dropdown.open > a:focus {
    color: #A72534;
    border-top-color: #A72534; } }

#footer-wrap {
  border-color: #A72534; }

#navbar .navbar-header p.lead {
  color: #A72534;
  text-align: left;
  padding-top: 0.35rem;
  margin-top: 1rem; }
  #navbar .navbar-header p.lead a, #navbar .navbar-header p.lead a:active, #navbar .navbar-header p.lead a:hover, #navbar .navbar-header p.lead a:focus {
    color: #A72534;
    font-size: inherit; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: #A72534; }

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #A72534; }

.pagination > li > a, .pagination > li > span {
  color: #A72534; }
  .pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    color: #A72534; }

.btn-primary {
  background-color: #A72534; }
  .btn-primary:focus, .btn-primary:active, .btn-primary:hover {
    background-color: #8e1f2c; }

a {
  color: #A72534; }
  a:hover, a:focus, a:active {
    color: #8e1f2c; }
  a:visited {
    color: #c02b3c; }

.field-name-accessible-read-more a.read-more > .fa {
  padding-left: 0.25rem; }

#block-current-search-standard {
  padding-bottom: 1rem; }
  #block-current-search-standard h2 {
    color: #A72534;
    font-size: 1.8rem;
    font-weight: 600; }

body.page-search .view-search {
  border-top: 1px solid #000;
  margin-top: 1rem; }

.node-product.view-mode-search_results .field-name-field-product-image {
  float: right;
  margin-left: 3em;
  margin-bottom: 2em; }

.node-product.view-mode-search_results h3 a {
  font-size: 1.6rem; }

.node-product.view-mode-search_results .col-sm-20 div {
  max-width: 60em; }

#block-views-exp-search-page label {
  font-weight: 600; }

#block-views-exp-search-page #edit-submit-search {
  line-height: 1.3em; }

#block-views-exp-search-page #edit-search-api-views-fulltext-wrapper {
  width: -webkit-calc(82% - 10rem);
  width: calc(82% - 10rem);
  padding: .5em 0 0; }

#block-views-exp-search-page .form-control {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #000;
  border-right: 0; }

#block-views-exp-search-page .form-submit {
  margin-top: 1.775em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #000;
  border-left: 0; }

#block-views-exp-search-page .input-group {
  display: inline; }

#block-views-exp-search-page .input-group-addon {
  padding: 0 0; }

#block-views-exp-search-page .dropdown {
  clear: both; }

.view-search.view-display-id-page .view-mode-search_results .field-name-field-product-image {
  width: 100%;
  text-align: center;
  margin-bottom: 1em; }
  .view-search.view-display-id-page .view-mode-search_results .field-name-field-product-image img {
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 0 1rem; }

/**
 * Home Page Specific Styles
 */
body.front {
  /*
 * Row with equal height columns
 * --------------------------------------------------
 */ }
  body.front .highlighted.jumbotron {
    background-color: #eeeeee;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2em;
    margin-top: 0;
    /**
   * Equal Height for search blocks in the home jumbotron
   */ }
    body.front .highlighted.jumbotron .row {
      margin-left: 0;
      margin-right: 0; }
    body.front .highlighted.jumbotron #block-bean-shopping-options {
      margin-bottom: 1em; }
      body.front .highlighted.jumbotron #block-bean-shopping-options h2 {
        text-align: center;
        margin-top: 0; }
    body.front .highlighted.jumbotron .searchtype {
      border: 2px solid #ddd;
      border: 2px solid rgba(86, 61, 124, 0.2);
      padding: 1.5em 1.5em;
      margin-bottom: 1.5em;
      border-radius: 20px; }
      body.front .highlighted.jumbotron .searchtype:hover, body.front .highlighted.jumbotron .searchtype:focus, body.front .highlighted.jumbotron .searchtype:active {
        background-color: #f4f4f4; }
      body.front .highlighted.jumbotron .searchtype p {
        text-align: center; }
      body.front .highlighted.jumbotron .searchtype h2 {
        text-align: center; }
    @media (min-width: 992px) {
      body.front .highlighted.jumbotron .row-flex, body.front .highlighted.jumbotron .row-flex > div[class*='col-'] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto; }
      body.front .highlighted.jumbotron .row-flex-wrap {
        -webkit-flex-flow: row wrap;
        -webkit-align-content: flex-start;
            -ms-flex-line-pack: start;
                align-content: flex-start;
        -webkit-box-flex: 0;
        -webkit-flex: 0;
            -ms-flex: 0;
                flex: 0; }
      body.front .highlighted.jumbotron .row-flex > div[class*='col-'], body.front .highlighted.jumbotron .container-flex > div[class*='col-'] {
        margin: -.2px;
        /* hack adjust for wrapping */ }
      body.front .highlighted.jumbotron .container-flex > div[class*='col-'] div, body.front .highlighted.jumbotron .row-flex > div[class*='col-'] div:not(.contextual-links-wrapper) {
        width: 100%; }
      body.front .highlighted.jumbotron .flex-col {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1 100%;
            -ms-flex: 1 100%;
                flex: 1 100%;
        -webkit-flex-flow: column nowrap;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap; }
      body.front .highlighted.jumbotron .flex-grow {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex: 2;
        -webkit-box-flex: 2;
            -ms-flex: 2;
                flex: 2; } }
  body.front h1.page-header {
    display: none; }

/**
 * Experimental custom button with pure CSS transition/animation
 */
.gpii-button:hover {
  background-color: #A72534;
  color: #fff;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  -webkit-transition-delay: .25s;
       -o-transition-delay: .25s;
          transition-delay: .25s; }

.gpii-button {
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  border: 0;
  margin: 1rem;
  font-weight: bold; }

.gpii-button a {
  color: #A72534;
  display: block;
  padding: 16px 35px;
  font-size: 1em;
  font-family: 'Montserrat-Bold', sans-serif;
  line-height: 1em;
  text-transform: uppercase;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  text-decoration: none; }

.gpii-button:hover a {
  color: #fff;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  -webkit-transition-delay: .25s;
       -o-transition-delay: .25s;
          transition-delay: .25s;
  text-decoration: none; }

.gpii-button:hover::before {
  left: 0;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s; }

.gpii-button::before {
  content: "";
  position: absolute;
  width: 12px;
  left: -12px;
  top: 0;
  bottom: 0;
  border-left: 1px solid #A72534;
  border-top: 1px solid #A72534;
  border-bottom: 1px solid #A72534;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  -webkit-transition-delay: .25s;
       -o-transition-delay: .25s;
          transition-delay: .25s; }

.gpii-button:hover::after {
  right: 0;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s; }

.gpii-button::after {
  content: "";
  position: absolute;
  width: 12px;
  right: -12px;
  top: 0;
  bottom: 0;
  border-right: 1px solid #A72534;
  border-top: 1px solid #A72534;
  border-bottom: 1px solid #A72534;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  -webkit-transition-delay: .25s;
       -o-transition-delay: .25s;
          transition-delay: .25s; }

.page-search-facet .block-facetapi ul {
  list-style-type: none;
  padding-left: 1rem; }

.page-search-facet .block-facetapi .facetapi-checkbox {
  margin-right: 0.4rem; }

.view-search-facets- .view-mode-search_results h3 {
  margin-top: 0; }

.view-search-facets- .view-mode-search_results .field-name-field-product-image {
  float: none;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 1rem;
  text-align: center; }

/*# sourceMappingURL=gpii_sai.css.map */
