@import "../../gpii_base/scss/variables";

// #############################################################################
// Color Changes
// #############################################################################

.region-hero {
  background-color: $color-gpii-dark-blue;
}

.region-content {
  margin-bottom: 2rem;
}

#block-book-navigation {
  ul {
    margin-left: 1rem;
  }
}

#footer {
    padding: 0px;
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
    li {
    display: inline;
        margin-right: 30px;
  }
}
