.front .welcome-block {
  margin-bottom: 1em; }

.front .page-header {
  display: none; }

.front .region-hero {
  padding: 1em 0;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  overflow: hidden; }

.front .input-group {
  width: 60%;
  margin-left: auto;
  margin-right: auto; }

.front input[type='text'] {
  font-size: 1.2em;
  padding: 1em;
  margin: 0 auto;
  border-color: #2c3849; }

.front .btn-primary {
  background-color: #e5e5e5;
  color: #2c3849;
  font-weight: 600; }
  .front .btn-primary:focus, .front .btn-primary:active, .front .btn-primary:hover {
    background-color: #dbdbdb;
    color: #202936; }

.card header {
  padding: 10px 0;
  text-align: center; }

.card header > h2 {
  font-size: 19px;
  color: #FFF; }
  .card header > h2 .glyphicon {
    top: 0;
    font-size: .8em;
    margin-right: .2em; }

.card .card-content {
  padding: 15px 20px; }

#learning-card header {
  background-color: #e44e31; }

#develop-card header {
  background-color: #084C56; }

#market-card header {
  background-color: #A72534; }

#people-card header {
  background-color: #2783c6; }

.node-teaser {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid #e2e2e2; }
  .node-teaser h3 {
    margin-top: 0; }
    .node-teaser h3 a {
      font-size: 1.28571429rem; }

.node .field {
  margin-bottom: 1em; }

.field-type-taxonomy-term-reference {
  margin-bottom: 1em; }

.group-user-info {
  display: block;
  clear: both;
  overflow: hidden;
  margin-bottom: 0.71428571rem; }

.user-info-picture img {
  width: 40px;
  float: left;
  border-radius: 100%;
  margin-right: 0.71428571rem; }

.group-action-links {
  margin: 1.5rem 0 1rem; }
  .group-action-links div {
    display: inline-block;
    margin-right: 0.71428571rem; }

.challenge-prize-div,
.challenge-complexity-div,
.challenge-status-div {
  margin-bottom: 0.57142857rem; }

.challenge-prize-label,
.challenge-complexity-label,
.challenge-status-label {
  font-size: 1rem;
  font-weight: 500;
  margin-right: .5em;
  color: #777; }

.field-level-of-complexity {
  font-size: 1.1em;
  color: #FFF;
  padding: 0.1em 0.3em;
  line-height: 2em; }

.field-level-of-complexity.Low {
  background-color: green; }

.field-level-of-complexity.Medium {
  background-color: orange; }

.field-level-of-complexity.High {
  background-color: red; }

.field-level-of-complexity.Grand {
  background-color: black; }

.challenge-prize-value {
  line-height: 1.6em;
  font-size: 1.1em;
  font-weight: 600; }

.challenge-status-value {
  font-weight: 600;
  padding: 0.3em;
  text-align: center;
  background-color: rgba(255, 255, 0, 0.2);
  margin-bottom: 1em; }

.flag-upvote-challenge {
  background-color: red;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.2);
  font-weight: 500;
  padding: 3px 3px 4px 7px;
  text-align: center;
  background: #f1f8fb;
  border: 1px solid #bbcadc; }
  .flag-upvote-challenge .glyphicon {
    font-size: .9em;
    margin-right: .3em; }
  .flag-upvote-challenge:hover {
    border-color: #1e7684; }
  .flag-upvote-challenge .flag-count {
    margin-left: 3px;
    padding-left: 5px;
    font-size: .9em;
    border-left: 1px solid #bbcadc; }

.region-hero {
  background-color: #18606b; }

@media (min-width: 768px) {
  .navbar-nav.primary.menu.nav li > a:hover {
    border-top-color: #18606b; }
  .navbar-nav.primary.menu.nav li > a.dropdown > a:hover {
    border-top-color: #18606b; }
  .navbar-nav.primary.menu.nav .dropdown.active > a,
  .navbar-nav.primary.menu.nav .dropdown.active > a:hover,
  .navbar-nav.primary.menu.nav .dropdown.active > a:focus,
  .navbar-nav.primary.menu.nav .active > a,
  .navbar-nav.primary.menu.nav .active > a:hover,
  .navbar-nav.primary.menu.nav .active > a:focus {
    border-top-color: #18606b; }
  .navbar-nav.primary.menu.nav .dropdown.open > a,
  .navbar-nav.primary.menu.nav .dropdown.open > a:hover,
  .navbar-nav.primary.menu.nav .dropdown.open > a:focus {
    color: #18606b;
    border-top-color: #18606b; } }

#footer-wrap {
  border-color: #18606b; }

#navbar .navbar-header p.lead {
  color: #18606b;
  text-align: left;
  padding-top: 0.35rem;
  margin-top: 0.9rem; }
  #navbar .navbar-header p.lead a, #navbar .navbar-header p.lead a:active, #navbar .navbar-header p.lead a:hover, #navbar .navbar-header p.lead a:focus {
    color: #18606b;
    font-size: 1.9rem;
    font-weight: 600; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: #18606b; }

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #18606b; }

.pagination > li > a, .pagination > li > span {
  color: #18606b; }
  .pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    color: #18606b; }

.btn-primary {
  background-color: #18606b; }
  .btn-primary:focus, .btn-primary:active, .btn-primary:hover {
    background-color: #124a52; }

a {
  color: #18606b; }
  a:hover, a:focus, a:active {
    color: #124a52; }
  a:visited {
    color: #1e7684; }
