@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
.region-hero {
  background-color: #3391d8; }

.region-content {
  margin-bottom: 2rem; }

#block-book-navigation ul {
  margin-left: 1rem; }

#footer {
  padding: 0px; }
  #footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  #footer li {
    display: inline;
    margin-right: 30px; }
