@import 'variables';
@import 'bootstrap';
@import 'forceMobileLayout.scss';
// #############################################################################
// Default Elements
// #############################################################################
// Set some defaults to get the page to be properly rendered using rem units.
html,
body {
  font-size: 14px;
  a,
  div,
  p,
  label,
  li,
  select,
  span {
    font-size: 1rem;
  }
}

body {
  top: 0 !important;
  border-top: 4.4rem solid transparent;
  @media (min-width: $screen-sm-min) {
    border-top: 3.55rem solid transparent;
  }
  min-width: 300px;
  font-family: $typeface-default;
  @media (min-width: $screen-sm-min) {
    html:not(.force-mobile-layout) & {
      border-top: 9rem solid transparent;
    }
  }
}



// adjust the position of a fixed-top navbar based on the different navbar admin
// menu states.
body.navbar-administration.navbar-is-fixed-top {
   border-top: 6rem solid transparent; // this is a workaround to adjust for the
                                       // extra padding-top that the navbar javascript applies
  .navbar-fixed-top {
    top: 2rem;
  }
}

body.navbar-administration.navbar-is-fixed-top.navbar-horizontal, body.navbar-administration.navbar-is-fixed-top.navbar-vertical {
  .navbar-fixed-top {
    top: 0;
  }
}

body.navbar-administration.navbar-is-fixed-top.navbar-horizontal.navbar-tray-open {
  .navbar-fixed-top {
    top: 3.2rem;
  }
}

// #############################################################################
// Bootstrap and Drupal Bootstrap Overrides
// #############################################################################
.navbar-fixed-top {
  z-index: 499;
}

#navbar {
  nav {
    clear: both;
  }
}

.navbar-default .navbar-nav > li > a {
  color: #000000;
}

.navbar-nav.primary,
.navbar-nav.primary.menu.nav {
  & > li {
    padding: (7px/14px)*1em;
  }
  & > li > .dropdown-menu {
    padding: 0;
  }
  .dropdown-menu > .active > a {
    color: #000;
  }
}

.navbar-nav.secondary,
.navbar-nav.secondary.menu.nav {
  & > li > a {
    padding: (15px/14px)*1em;
    html.force-mobile-layout & {
      padding: (15px/14px)*1em !important;
    }
  }
}

.nav-tabs {
  margin-bottom: 0.72rem;
  border-color: $color-gpii-gray;
  & > li > a:hover {
    border-color: #cccccc #cccccc $color-gpii-gray;
    background-color: $color-gpii-light-gray;
  }
  & > li.active > a,
  & > li.active > a:hover,
  & > li.active > a:focus {
    border-color: $color-gpii-gray;
    border-bottom-color: transparent;
    background-color: $color-gpii-light-gray;
  }
}

.navbar-toggle {
  position: absolute;
  top: 0;
  right: 0;
  &:not(.caret) {
    margin-top: (8px/14px)*1em;
    margin-right: (15px/14px)*1em;
    margin-bottom: (8px/14px)*1em;
    padding: (9px/14px)*1em (10px/14px)*1em;
  }
  &.caret {
    float: none;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    border-top: 0.28571rem solid;
    border-right: 0.28571rem solid transparent;
    border-left: 0.28571rem solid transparent;
    border-radius: 0;
    background: none !important;
  }
  .icon-bar {
    width: (22px/14px)*1em;
    height: (2px/14px)*1em;
  }
  .icon-bar + .icon-bar {
    margin-top: (4px/14px)*1em;
  }
}

.nav {
  li {
    a:hover {
      text-decoration: underline;
    }
  }
}

// #############################################################################
// Fluid UI
// #############################################################################
.flc-iframe {
  width: 100%;
}

.flc-prefsEditor-separatedPanel {
  // Increase the specificity here so that defaults are overridden but so that
  // !important isn't required in JavaScript.
  body & {
    width: auto;
    z-index: 10000001;
    position: initial;
    @media (min-width: $screen-sm-min) {
      html:not(.force-mobile-layout) & {
        position: fixed;
      }
    }
  }
  .fl-panelBar .fl-prefsEditor-buttons {
    margin-right: 0.5rem;
    box-shadow: 2px 2px 3px 0px #333333;
    border-bottom: 1px solid $color-fluidui-gray;
    border-left: 1px solid $color-fluidui-gray;
    background-color: #000;
    button {
      color: #fff;
      background-color: #000;
    }
  }


}

.flc-toc-header,
.flc-toc-levels-level1 {
  margin-right: 15px;
  margin-left: 15px;
}

.fl-font-prefsEditor-comic-sans *:not(.fa):not(.fl-icon-undo) {
  font-family: 'Comic Sans MS', sans-serif !important;
}

.fl-font-prefsEditor-times *:not(.fa):not(.fl-icon-undo) {
  font-family: 'Georgia', 'Times', 'Times New Roman', serif !important;
}

.fl-font-prefsEditor-arial *:not(.fa):not(.fl-icon-undo) {
  font-family: 'Arial', sans-serif !important;
}

.fl-font-prefsEditor-verdana *:not(.fa):not(.fl-icon-undo) {
  font-family: 'Verdana', sans-serif !important;
}

// #############################################################################
// Google Translate
// #############################################################################
#block-google-translator-active-languages {
  display: none;
  position: initial;
  @media (min-width: $screen-sm-min) {
    html:not(.force-mobile-layout) & {
      position: fixed;
    }
  }
  top: 0;
  left: 0;
  z-index: 10000002;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid $color-fluidui-gray;
  background-color: $color-fluidui-beige;
  background-image: url('/sites/all/libraries/fluid/framework/preferences/images/default/separatedpanelbg.png');
  background-repeat: repeat;
  text-align: center;
  .goog-te-gadget {
    margin-right: auto;
    margin-left: auto;
    padding: 1em;
    width: 16em;
    border: 1px solid #615e59;
    border-radius: 5px;
    box-shadow: 2px 2px #7a766d;
    background-color: #fff;
  }
  .google-translator-switch {
    display: none;
  }
  .goog-te-combo,
  .goog-te-gadget,
  .goog-logo-link {
    font-size: 1rem;
    white-space: normal;
  }
  .goog-logo-link img {
    width: auto;
    height: 1rem;
  }
}

.goog-te-banner-frame {
  position: static !important;
  margin: 1rem 0 0 !important;
}

#gpii-translate-toggle_container {
  position: initial;
  width: 12em;
  right: calc(50px + 14rem + 1.5rem);
  z-index: 10000001;
  min-height: 2em;
  box-shadow: 2px 2px 3px 0px #333333;
  border-bottom: 1px solid $color-fluidui-gray;
  border-left: 1px solid $color-fluidui-gray;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #000;
  #gpii-translate-toggle_button {
    height: 1.8em;
    min-width: 10em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    border: 0;
    background-color: #000;
    color: #fff;
    font-family: 'open-sans', 'Myriad Pro', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: lowercase;
  }

  html.force-mobile-layout & {
    float: right;
    margin-right: calc(3rem + 6px);
  }

  @media (max-width: $screen-xs-max) {
    float: right;
    margin-right: calc(3rem + 6px);
  }

  @media (min-width: $screen-sm-min) {
    html:not(.force-mobile-layout) & {
      position: fixed;
      top: 0;
    }
  }
}

// #############################################################################
// Regions and Other Major Sections
// #############################################################################
.navbar.navbar-default {
  margin-bottom: 0;
  border-bottom: none;
  background-color: #ffffff;
  color: #000000;
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
  .logo {
    margin: 0;
    padding: 0 (15px/14px)*1em (6px/14px)*1em (15px/14px)*1em;
    border-right: 1px solid #ffffff;
    background-color: #fff;
    img {
      max-width: 100%;
    }
  }
  .navbar-header {
    margin-left: 0;
    @media (min-width: $screen-sm-min) {
      margin-top: -0.9rem;
    }
    margin-bottom: 0.5rem;
    width: 100%;
    position: relative;
    html.force-mobile-layout & {
      margin-left: 0;
    }
    p.lead {
      font-size: 1.6rem;
      padding-top: 1.5rem;
      margin: 0 6rem 0 6.5rem;
      font-weight: 600;
      a {
        font-size: 1.8rem;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    html:not(.force-mobile-layout) & > .container-fluid:first-child {
      min-height: 3rem;
    }
  }
}

.region-hero {
  background-color: $color-gpii-dark-blue;
  & > * {
    @include primary-column-width;
  }
  &,
  a {
    color: #ffffff;
  }
}

#main-container {
  margin-top: 3rem;
}

.region-sidebar-first,
.region-sidebar-second {
  & >:first-child {
    margin-top: 0;
  }
  @media (min-width: $screen-sm-min) {
    html:not(.force-mobile-layout) & > .block:first-child {
      & > h1,
      & > h2,
      & > h3,
      & > h4,
      & > h5,
      & > h6 {
        &:first-child {
          margin-top: 0;
        }
      }
    }
    html:not(.force-mobile-layout) & > .block:first-child >:first-child header {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 0;
      }
    }
  }
}

#footer {
  margin: 0;
  clear: both;
  padding: 3rem 0 3rem 0;
  //background-color: #000;
  background: #000 url('../../gpii_base/footer-gradient.png') no-repeat center 0;
  color: #ffffff;
  a {
    color: #ffffff;
    &:hover, &:focus {
      color: #F2EED2;
    }
  }
  .nav > li > a:hover,
  .nav > li > a:focus {
    background-color: transparent;
  }
  html:not(.force-mobile-layout) & {
    width: 100%;
    & > * {
      @include primary-column-width;
    }
  }
  h2 {
    margin-top: 0;
  }
}

.gpii-region_row-fine_print {
  margin-top: 2.4rem;
  padding-top: 1.2rem;
  padding-bottom: 4rem;
  border-top: 0.1rem solid #ffffff;
}

// Sticky Footer
html {
  position: relative;
  min-height: 100%;
}

#footer-wrap {
  border-top: 0.85rem solid #2783c6;
  width: 100%;
}

  #push {
    height: 4rem; // for pages like advanced search, add some extra space to clear
    // the sticky footer
  }

@media (min-width: $screen-sm-min) {
  body {
    /* Margin bottom by footer height */
    margin-bottom: -22rem;
  }

  #footer-wrap {
    position: absolute;
    bottom: 0;
  }

  #push {
    height: 22rem; // for pages like advanced search, add some extra space to clear
    // the sticky footer
  }
}

//#############################################################################
// Navigation
// #############################################################################
.menu.nav > li > a {
  padding: 2px 0;
}

.navbar-nav {
  margin: 0 0;
}

.navbar-nav.primary.menu.nav {
  background: linear-gradient(to bottom,  $color-gpii-med-gray 0,$color-gpii-med-gray 0.3rem,$color-gpii-gray 0.3rem,$color-gpii-gray 100%);
  width: 100%;
  @media (min-width: $screen-sm-min) {
    ul.dropdown-menu li a {
      &:hover, &:focus, &:active {
        background-color: $color-gpii-gray;
      }
    }

    li {
      padding: 0;
      & > a {
        padding: 0.6rem 1.2em;
        margin: 0;
        font-weight: 600;
        font-size: 1em;
        border-top-width: 0.3rem;
        border-top-style: solid;
        border-top-color: transparent;
        text-decoration: none;
        &:hover {
          border-top-color: $color-gpii-blue;
          background-color: #fff;

        }
        &.dropdown > a {
          border-top-color: $color-gpii-med-gray;
          transition: color .3s ease-in-out, border-top-color .3s ease-in-out;

          &:hover {
            border-top-color: $color-gpii-blue;
          }

        }
      }
      ul > li > a {
        border-top-width: 0;
        font-weight: 400;
      }
    }

    .dropdown.active > a,
    .dropdown.active > a:hover,
    .dropdown.active > a:focus,
    .active > a,
    .active > a:hover,
    .active > a:focus {
      background-color: #fff;
      text-decoration: none;
      border-top-color: $color-gpii-blue;
    }

    .dropdown.open > a,
    .dropdown.open > a:hover,
    .dropdown.open > a:focus {
      background-color: #fff;
      color: $color-gpii-blue;
      border-top-color: $color-gpii-blue;
    }
  }

  .active-trail.active > .active-trail.active {
    cursor: initial;
  }
}

.navbar-nav.secondary {
  .navbar-default & > .active > a,
  .navbar-default & > .active > a:hover,
  .navbar-default & > .active > a:focus {
    background-color: transparent;
  }
  body.not-logged-in & {
    & > li.last > a {
      margin: (13px/14px)*1em (11px/14px)*1em (13px/14px)*1em (11px/14px)*1em;
      padding: (2px/14px)*1em (4px/14px)*1em;
      border-radius: 2px;
      color: #ffffff;
      font-size: 0.96rem;
      font-weight: bold;
      &,
      &:hover {
        background-color: $color-gpii-blue;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    html:not(.force-mobile-layout) & {
      position: absolute;
      top: 3rem;
      right: 15px;
    }
  }
}

// #############################################################################
// Blocks
// #############################################################################
.block-title {
  word-break: normal;
}

.block-menu-block {
  #footer & {
    .block-title {
      font-size: 1.6rem;
    }
    .nav > li > a {
      padding: 0;
    }
  }
}

// #############################################################################
// Miscellaneous
// #############################################################################
.page-header {
  margin-top: 0;
  border-bottom: none;
}
