ol.breadcrumb {
  background-color: transparent;
  margin: 1rem 0 1.5rem 0;
  padding: 0;
  border-radius: 0;

  li + li:before {
    content: '>';
    color: $palette-grey;
  }

  li > a {
    color: $ds-light-green;

    &.active {
      color:$palette-grey;
    }
  }
}
