ol.breadcrumb {
  background-color:transparent;
  margin:0 0 2em 0;
  padding:0em;
  border-radius:0px;
  & >li + li:before {
    content:">";
    color:$palette-grey;
  }
  & > li {
    & a {
      color:$palette-red;
    }
    &.active {
      color:$palette-grey;
    }
  }
}
