#block-current-search-standard {
  background: $gray-lighter;
  padding: 0 1em 1em;
  margin-bottom: 1em;
  p {
    margin-bottom: 0.5em;
  }
}

.field-name-accessible-read-more {
  a.read-more {
    margin: 1em 1em 1em 0;
  }
}

.view-mode-search_results {
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: 0.5em;
  padding-bottom: 0.75em;
}

/**
 * Basic Search
 */

.node-product.view-mode-search_results {
  .field-name-field-product-image {
    float: right;
    margin-left: 3em;
    margin-bottom: 2em;
  }
  .fa {
      margin-top: 0.25rem;
      margin-left: 0.5rem;
      display: inline-block;
  }
  h3 {
    font-size: 1.6em;
  }

}

.view-search.view-display-id-page_1 {
  .view-mode-search_results {
    .field-name-field-product-image {
      width: 100%;
      text-align: center;
      margin-bottom: 1em;
      img {
        margin-left: auto;
        margin-right:auto;
        padding: 2rem 0 1rem;
      }
    }
    border: 1px solid $gray-lighter;
    padding: 0 1em 1em;
    background: #fff;
  }
}

// End Basic Search

/**
 * Faceted Search
 */

.search-api-page-results {
  clear: both;
}

.search-performance {
  font-size: 95%;
  padding-bottom:0.5em;
}

#block-current-search-standard {
  h2 {
    font-size: 1.4em;
  }
}

ul.facetapi-facetapi-checkbox-links {
  padding-left: 0.25em;
  ul {
    padding-left: 0.65em;
    padding-bottom: 0.75em;
  }
  input[type="checkbox"] {
    margin: 4px 3px 0 0;
  }
}

 // End Faceted Search

/**
 * Advanced Search
 */

.main-container {
  margin-top: 0;
}

.page-header {
  margin: 1rem 0 1rem;
}

body.page-search-advanced {
  #block-system-main {
    h2 {
      clear: both;
      color: $gray-darker;
      font-size: 1.6em;
    }
    a {
      color: $gray;
    }
  }
  .col-xs-6 {

    .form-group {
      margin-bottom: 0;
    }
    .form-group + div:empty {
      display:none;
    }
    .ng-scope {
      h2 {
        margin-top: 0;
      }
    }
  }
  .list-group-item-heading {
    font-size: 1.2em;
    a {
      text-decoration: underline;
    }
  }
  treeitem {
    display: block;
    margin-left: 0;
  }
  treecontrol > ul {
    margin-left: 0;
    li {
      padding: 0 0 0 0.5em;
      ul li {
        padding: 0 0 0 1.2em;
      }
    }
  }
  treeitem:not(.ng-hide) {
    margin-bottom: 1em;
  }
}

/**
 * Term Tree List Styles
 */

.term-tree-list {
  .selected {
    font-weight: normal;
  }
}

 // End Term Tree Styles


