@media (max-width: $break-xs) {
  .node {
    margin-bottom: 2em;
  }
  aside.col-sm-3 {
    img {
      margin: 1em auto;
    }
  }
}

#admin-menu .admin-menu-search {
  width: initial;
  height: 16px;
}

.region-content {
  margin-bottom: 2em;
}

.page-admin {
  font-family: "Helvetica Neue";
  .navbar {
    display: none;
  }
  .footer {
    display: none;
  }
  #page-header {
    display: none;
  }
  .main-container {
    padding-top: 2em;
  }
}
