$ds-body-bg: #f2f2f2;

$ds-shadow-color: rgba(0, 0, 0, .3);

$ds-navbar-grey: #dadada;

$ds-green: #005005;
$ds-green-lighter: rgba($ds-green, .9);
$ds-light-green: #116f17;
$ds-red: #660300;
$ds-blue: #21696c;