//
// Variables for the DeveloperSpace
// --------------------------------------------------

//== Color Palette
//
//## Brand colors for use across the DeveloperSpace.

$ds-dark-green: #005005;
$ds-light-green: #116F17;
$ds-red: #660300;
$ds-blue: #21696C;

$ds-navbar-link: darken($palette-white, 13.5%);

$ds-body-bg: #F2F2F2;