#footer-wrap {
  clear: both;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30rem;
}

#push {
  height:40rem;
}

footer.footer {
  clear:both;
  margin-top:0;
  padding-top: 2em;
  background-color:$palette-navbar-dark;
  color:$palette-white;

  & .footer-left {
    text-align:left;
    @media (max-width: $break-xs) {
      text-align:center;
      margin-top:-1em;
      padding-bottom:1em;
    }
  }
  & .footer-right {
    text-align:right;
    line-height:2em;
    @media (max-width: $break-xs) {
      text-align:center;
    }
  }
  & span.ext {
    display:none;
  }
  & a {
    color:$palette-grey-light;
    &:hover {
      color:#fff;
    }
  }
  .block:first-child h2.block-title, h2.block-title {
    margin-top: 0;
  }
}


