/**
 * Home Page Specific Styles
 */

body.front {
  #jumbotron-wrap {
    background-color: $gray-lighter;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2em;
    margin-top: 0;
    .row {
      margin-left: 0;
      margin-right: 0;
    }
    #block-bean-shopping-options {
      h2 {
        text-align: center;
        margin-top: 0;
      }

      margin-bottom: 1em;
    }

    .searchtype {
        border: 2px solid #ddd;
        border: 2px solid rgba(86,61,124,.2);
        padding: 1.5em 1.5em;
        margin-bottom: 1.5em;
        border-radius: 20px;
        &:hover, &:focus, &:active {
          background-color: lighten($gray-lighter, 2%);
     }
      p {
        text-align: center;
      }
      h2 {
        text-align: center;
      }
    }
  /**
   * Equal Height for search blocks in the home jumbotron
   */
    @media (min-width: $screen-md) {
      .row-flex, .row-flex > div[class*='col-'] {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex:1 1 auto;
      }

      .row-flex-wrap {
        -webkit-flex-flow: row wrap;
          align-content: flex-start;
          flex:0;
      }

      .row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
         margin:-.2px; /* hack adjust for wrapping */
      }

      .container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div:not(.contextual-links-wrapper) {
        width:100%;
      }

      .flex-col {
          display: flex;
          display: -webkit-flex;
          flex: 1 100%;
        flex-flow: column nowrap;
      }

      .flex-grow {
        display: flex;
          -webkit-flex: 2;
          flex: 2;
      }
    }
  }
  /*
 * Row with equal height columns
 * --------------------------------------------------
 */
 h1.page-header {
  display: none;
 }
}

#jumbotron-wrap {



}


