.navbar-header {
  background-color: $ds-green;
}

.navbar .logo {
  padding-right: 5px;

  img {
    margin-top: -2px;
    width: 64px;
  }
}

.navbar .name {
  font-size: 20px;
  color: $ds-navbar-grey;
  line-height: 22px;
  font-weight: 400;
}

.front {
  .navbar .name {
    color: $palette-white;
  }
}

.navbar-inverse {
  margin-top: 2.4em;

  .navbar-nav {
    li > a {
      color: $ds-navbar-grey;
      font-size: 14px;
    }

    .dropdown > a {
      text-transform: uppercase;
    }
  }
}

@media (min-width: $break-xs) {
  
  .navbar {
    border: 0;

    .container-fluid {
      padding-left: 30px;
      padding-right: 30px;
    }

    .container-fluid .navbar-header {
      padding-top: 8px;
      margin-right: 12px;
    }
  }

  .navbar-inverse {
    background-color: $ds-green;

    .navbar-nav {
      li > a {
        padding: 24px 12px 21px;
        border-bottom: 3px solid $ds-green;
        transition: all .3s ease-in;


        &:hover {
          border-bottom-color: $gray-light;
        }
      }

      .active > a,
      .active > a:focus,
      .active > a:hover {
        background-color: $ds-green;
        border-bottom-color: $palette-white;
      }

      .open > a,
      .open > a:hover,
      .open > a:focus {
        background-color: $ds-green;
      }
    }

    .dropdown-menu {
      li > a {
        color: $gray-dark;
        padding: 10px 20px;
        border: 0;

        &:hover {
          color: $gray-base;
        }
      }

      .active > a,
      .active > a:hover,
      .active > a:focus {
        color: $gray-base;
        background-color: $gray-lighter;
      }
    }
  }
}

.logged-in {
  .navbar-inverse {
    margin-top: 0;
  }
}

//
// UIOptions Preferences Editor bar
//

.fl-prefsEditor-separatedPanel {
  background-color: #080808;
  height: 2.4em;

  .fl-panelBar {
    border-bottom: 0;
    background-color: #080808;

    .fl-prefsEditor-buttons {
      margin-right: 5rem;
      max-width: 1100px;
    }
  }
}

/**
 * Login Toboggan and User Login blocks
 */

 #block-logintoboggan-logintoboggan-logged-in, #block-user-login {
  float: right;
}