// for sticky footer
html, body {
  height: 100%;
}

h1 {
  color:$palette-grey;
  font-size: 2.5em;
}
h2 {
  color:$palette-navbar-dark;
  font-size: 1.9em;
}
h3 {
  color:$palette-grey;
  font-size: 2em;
  font-weight: bold;
}

span.input-group-addon {
	border-radius:0px;
}

input.form-control {
  border-radius:0px;
}

.panel, .well, .container .jumbotron, .btn {
  border-radius:0px;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  margin-left:0px;
}

.btn-primary {
  background-color:$palette-red;
  color:$palette-white;
  &:hover, &:focus, &:active, &.active {
    background-color:darken($palette-red,5%);
    border:darken($palette-red-dark,5%);
  }
}

a {
  color:$palette-navbar-dark;
	&:hover, &:focus, &:active, &:visited {
		color: lighten($palette-navbar-dark,20%);
	}
}

body.admin-menu, .body-toolbar-drawer {
	padding-top:0px !important;
}

// .form-control {
//   width:auto;
// }

.sr-only  {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.main-container {
  margin-top:2em;
}

iframe.flc-iframe {
  width: 100%;
}

/**
 * Add font overrides from Fluid UI Options
 */

.fl-font-prefsEditor-comic-sans *:not(.fa):not(.fl-icon-undo) {
    font-family: "Comic Sans MS", sans-serif !important;
}

.fl-font-prefsEditor-times *:not(.fa):not(.fl-icon-undo) {
    font-family: Georgia,Times,"Times New Roman",serif !important;
}
.fl-font-prefsEditor-arial *:not(.fa):not(.fl-icon-undo) {
    font-family: "Arial" !important;
}
.fl-font-prefsEditor-verdana *:not(.fa):not(.fl-icon-undo) {
    font-family: "Verdana" !important;
}

.field-name-body {
  .container {
    padding-left:0;
    padding-right: 15px;;
  }
}

#block-system-main {
  #search-api-page-search-form {
    .form-item-keys-1 {
      float:left;
    }
  }
  #edit-submit-1 {
    margin-top: 1.68em;
  }
  .search-performance {
    clear: both;
  }
}

#qademo {
  a {
    color: #000;
    &:visited {
      color: #000;
    }
  }
  .icon-arrow-right:before {
    content: "\e00d";
  }

  /* Button 4 */
  .btn-4 {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 10px;
    border: 2px solid $gray-light;
    width: 45%;
    text-align: left;
    background: lighten($gray-lighter, 2%);

  }

  .btn-4:active {
    border-color: #17954c;
  }

  .btn-4:hover {
    background: lighten($brand-info, 10%);
  }

  .btn-4:before {
    position: absolute;
    height: 100%;
    font-size: 125%;
    line-height: 3.5;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .btn-4:active:before {
    color: #17954c;
  }

  /* Button 4a */
  .btn-4a:before {
    left: 130%;
    top: 0;
  }

  .btn-4a:hover:before {
    left: 80%;
  }
}


#navbar-administration {
  z-index: 1600;
}

body.navbar-is-fixed-top {
  padding-top: $navbar-height * 2 !important;
}

#page-header {
  margin-top: 2rem;
}
