@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
/************************************
** NAVBAR
************************************/
.navbar.navbar-default .navbar-header .logo {
  padding: 0 0.26666667rem 0 1rem; }

.navbar.navbar-default .navbar-header p.lead {
  text-align: left;
  padding-top: 0.2rem;
  margin-top: 1rem; }
  .navbar.navbar-default .navbar-header p.lead a, .navbar.navbar-default .navbar-header p.lead a:active, .navbar.navbar-default .navbar-header p.lead a:hover, .navbar.navbar-default .navbar-header p.lead a:focus {
    color: #18606b;
    font-size: 1.86666667rem;
    font-weight: 600; }

@media (max-width: 767px) {
  .navbar.navbar-default .navbar-header {
    height: 50px;
    border-bottom: 1px solid #e5e5e5; }
    .navbar.navbar-default .navbar-header .navbar-btn {
      width: 64px;
      float: left;
      margin: 0.33333333rem 0 0 0.53333333rem;
      padding: 0; }
    .navbar.navbar-default .navbar-header p.lead {
      margin: 0.33333333rem 0 0 0; }
      .navbar.navbar-default .navbar-header p.lead a, .navbar.navbar-default .navbar-header p.lead a:active, .navbar.navbar-default .navbar-header p.lead a:hover, .navbar.navbar-default .navbar-header p.lead a:focus {
        font-size: 1.46666667rem; } }

@media (max-width: 767px) {
  .navbar.navbar-default .primary.menu.nav li {
    border-bottom: 1px solid #555; }
    .navbar.navbar-default .primary.menu.nav li ul {
      background: #FFF;
      margin: 0; }
      .navbar.navbar-default .primary.menu.nav li ul li {
        border-bottom: 0; } }

@media (min-width: 768px) {
  .navbar.navbar-default .primary.menu.nav li > a {
    line-height: 1.46666667rem;
    -webkit-transition: border-top-color .3s ease, background-color .3s ease;
    -o-transition: border-top-color .3s ease, background-color .3s ease;
    transition: border-top-color .3s ease, background-color .3s ease; }
  .navbar.navbar-default .primary.menu.nav li > a:hover,
  .navbar.navbar-default .primary.menu.nav li > a:focus {
    border-top-color: #18606b;
    color: #18606b; }
  .navbar.navbar-default .primary.menu.nav li > a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .navbar.navbar-default .primary.menu.nav li.dropdown > a:hover {
    border-top-color: #18606b; }
  .navbar.navbar-default .primary.menu.nav .dropdown.active > a,
  .navbar.navbar-default .primary.menu.nav .dropdown.active > a:hover,
  .navbar.navbar-default .primary.menu.nav .dropdown.active > a:focus,
  .navbar.navbar-default .primary.menu.nav .active > a,
  .navbar.navbar-default .primary.menu.nav .active > a:hover,
  .navbar.navbar-default .primary.menu.nav .active > a:focus {
    border-top-color: #18606b; }
  .navbar.navbar-default .primary.menu.nav .dropdown.open > a,
  .navbar.navbar-default .primary.menu.nav .dropdown.open > a:hover,
  .navbar.navbar-default .primary.menu.nav .dropdown.open > a:focus {
    color: #18606b;
    border-top-color: #18606b; } }

@media (max-width: 767px) {
  .navbar.navbar-default .navbar-right {
    display: none; } }

@media (min-width: 768px) {
  .navbar.navbar-default .navbar-right {
    position: absolute;
    right: 0; }
    .navbar.navbar-default .navbar-right li > a {
      padding: 0.6rem 1.2em;
      margin: 0;
      font-weight: 600;
      font-size: 1rem;
      border-top-width: 0.3rem;
      border-top-style: solid;
      border-top-color: transparent;
      text-decoration: none;
      line-height: 1.46666667rem; }
    .navbar.navbar-default .navbar-right li > a > .search-text {
      display: none; }
    .navbar.navbar-default .navbar-right li > a:hover,
    .navbar.navbar-default .navbar-right li > a:focus,
    .navbar.navbar-default .navbar-right li > a[aria-pressed="true"] {
      border-top-color: #18606b;
      color: #18606b;
      background-color: #FFFFFF; } }

.region-menu-search {
  position: relative; }
  .region-menu-search input[type="text"] {
    border-radius: 4px; }
  .region-menu-search button[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1500;
    background-color: transparent;
    color: #555;
    border: 0;
    padding: 0.42857143rem 0.85714286rem; }
  @media (max-width: 991px) {
    .region-menu-search {
      padding: 1rem; }
      .region-menu-search .input-group {
        width: 100%; } }
  @media (min-width: 992px) {
    .region-menu-search {
      position: absolute;
      top: 6.36666667rem;
      right: 2rem;
      margin-top: 0.53333333rem;
      padding: 0; } }

.front .welcome-block {
  margin-top: 2.4rem;
  margin-bottom: 1.86666667rem; }

.front .region-hero {
  padding: 2.33333333rem 0;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #18606b;
  background-image: url("../images/home_hero_background.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 80%; }
  .front .region-hero h1 {
    text-shadow: 1px 1px 1px #333;
    margin-top: 1.33333333rem;
    margin-bottom: 0.66666667rem; }
  .front .region-hero p {
    width: 60%;
    margin: 0 auto 1.33333333rem;
    font-size: 1.25rem;
    line-height: 2.13333333rem; }
  .front .region-hero p.highlight {
    text-shadow: 1px 1px 1px #333; }
  .front .region-hero a,
  .front .region-hero a:visited {
    font-size: 1.2rem;
    color: #000; }
  @media (max-width: 991px) {
    .front .region-hero {
      width: 100%;
      padding: 0 1em 1em 1em; }
      .front .region-hero h1 {
        font-size: 2rem;
        line-height: 2.6rem; }
      .front .region-hero p {
        width: 80%; } }

.front #main-container {
  margin-top: 1rem; }

.front .region-featured-links {
  overflow: hidden;
  margin-bottom: 2rem; }

.front .view {
  clear: both;
  overflow: hidden;
  margin-bottom: 2em; }

.front .view-header {
  margin-bottom: 1rem;
  text-align: center; }

.front .view-content {
  overflow: hidden; }

.front .view-footer {
  clear: both;
  margin-top: 1.5rem;
  text-align: center; }
  .front .view-footer a {
    font-size: 1rem; }

#block-views-recent-components-block {
  clear: both; }

.components-block .view-header,
.components-block .view-footer {
  text-align: center; }

.components-block .components-count-pane {
  text-align: center;
  margin-bottom: 1em; }

.components-block ul.components-count-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .components-block ul.components-count-list li {
    display: inline-block; }
  .components-block ul.components-count-list li:not(.views-row-last):after {
    content: "|"; }

.view-success-stories {
  margin-top: 1em; }
  .view-success-stories .ss-card {
    padding: 1.33333333rem;
    border: 1px solid #e5e5e5; }
    .view-success-stories .ss-card .ss-card-image > img {
      margin: 0 auto;
      width: 60px;
      height: 60px;
      border-radius: 50%; }
    .view-success-stories .ss-card h3 {
      text-align: center;
      margin-bottom: 1.2rem; }

.view-social .view-content {
  text-align: center; }
  .view-social .view-content ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .view-social .view-content ul li {
      display: inline-block; }
    .view-social .view-content ul li > a {
      background-color: #3D4557;
      border-radius: 2em;
      color: #EBECEC;
      display: inline-block;
      height: 2em;
      line-height: 2em;
      margin: auto 3px;
      width: 2em;
      font-size: 2em;
      text-align: center; }

.upcoming-events-block {
  margin-top: 1rem;
  padding: 0 1.33333333rem;
  background-color: #FAFAFA;
  border: 1px solid #e5e5e5; }
  .upcoming-events-block h2 {
    margin-bottom: 2rem; }
  .upcoming-events-block h3 {
    margin-top: 0; }
  .upcoming-events-block img {
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem; }
  .upcoming-events-block .view {
    margin-bottom: 1rem; }
  .upcoming-events-block .view-footer {
    margin-top: 0.71428571rem;
    text-align: left; }

.key-places-block {
  overflow: hidden;
  margin-top: 1rem;
  padding-bottom: 100px;
  background-image: url("../images/8-bit-team.png");
  background-repeat: no-repeat;
  background-position: left bottom; }
  .key-places-block .user-groups-list {
    margin: 2rem 0 0 0;
    padding: 0;
    list-style-type: none; }
    .key-places-block .user-groups-list li {
      display: inline-block;
      margin-right: 0.5rem;
      margin-bottom: 2.26666667rem; }
      .key-places-block .user-groups-list li a {
        background-color: #FFF;
        border: 1px solid #e5e5e5;
        -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
        padding: 0.71428571rem;
        border-radius: 3px; }

.hero-logo {
  width: 100px;
  position: absolute;
  top: 0;
  right: 0; }
  .hero-logo img {
    max-width: 100%; }

/***************************************
*
* FEATURED LINKS
*
***************************************/
.front .bean-featured-link {
  cursor: pointer;
  border-bottom: 3px solid #FFF;
  color: #333; }
  .front .bean-featured-link img {
    opacity: 0.9;
    margin-bottom: 0.53333333rem; }
  .front .bean-featured-link .internal-link {
    display: block;
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
    font-weight: 600; }
  .front .bean-featured-link:hover {
    color: #000;
    border-bottom: 3px solid #E5E5E5; }
    .front .bean-featured-link:hover img {
      opacity: 1; }

@media (max-width: 991px) {
  .not-front .region-featured-links {
    display: none; } }

@media (min-width: 1200px) {
  .not-front .region-featured-links {
    background-color: #F5F5F5;
    padding-top: 1rem; } }

@media (max-width: 991px) {
  .not-front .bean-featured-link {
    display: none; } }

@media (min-width: 1200px) {
  .not-front .bean-featured-link {
    cursor: pointer; }
    .not-front .bean-featured-link img {
      margin-bottom: 0.46666667rem; }
    .not-front .bean-featured-link .internal-link {
      display: block;
      padding: 0 0.53333333rem;
      margin-bottom: 0.13333333rem;
      font-size: 1rem;
      font-weight: 600; }
    .not-front .bean-featured-link p {
      font-size: 0.93333333rem;
      padding: 0 0.53333333rem; } }

.not-front .bean-featured-link:hover {
  background-color: #FFF; }

.not-front .bean-featured-link.selected {
  background-color: #FFF; }
  .not-front .bean-featured-link.selected .internal-link {
    color: #000; }

/***************************************
*
* STORIES BEANS
*
***************************************/
.region-stories {
  margin: 0 -15px; }

@media (max-width: 767px) {
  .story-item .story-content {
    width: 100%; }
  .story-item .story-image {
    width: 100%;
    margin: 0 auto; } }

@media (min-width: 768px) {
  .story-item {
    max-width: 1170px;
    margin: 0 auto 3rem;
    overflow: hidden;
    position: relative; }
    .story-item .story-content {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
           -o-transform: translateY(-50%);
              transform: translateY(-50%); }
      .story-item .story-content p, .story-item .story-content a {
        font-size: 1.13333333rem; }
    .story-item .story-image {
      position: relative;
      overflow: hidden;
      max-height: 320px; }
      .story-item .story-image img {
        display: block;
        max-height: 100%;
        width: auto; }
  .views-row-even .story-content,
  .image-on-right .story-content {
    padding-left: 96px; }
  .views-row-even .story-image,
  .image-on-right .story-image {
    left: 50%; }
  .views-row-odd .story-content,
  .image-on-left .story-content {
    left: 50%;
    padding-left: 48px; }
  .views-row-odd .story-image img,
  .image-on-left .story-image img {
    float: right; } }

/***************************************
*
* HERO MESSAGE BEANS
*
***************************************/
.hero-message {
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .hero-message h1 {
    color: #000;
    font-weight: 500;
    margin: 0;
    line-height: 44px; }

.category-items {
  clear: both;
  overflow: hidden;
  margin-bottom: 2rem; }
  .category-items h2 {
    display: inline-block;
    margin-top: 0; }
  .category-items .browse-link {
    float: right;
    font-weight: 600; }

.group-action-links {
  display: block;
  clear: both;
  overflow: visible; }
  .group-action-links a.flag,
  .group-action-links a.rate,
  .group-action-links a.twitter-share,
  .group-action-links a.linkedin-share,
  .group-action-links a.flag:visited {
    color: #777; }
    .group-action-links a.flag:hover,
    .group-action-links a.rate:hover,
    .group-action-links a.twitter-share:hover,
    .group-action-links a.linkedin-share:hover,
    .group-action-links a.flag:visited:hover {
      color: #18606b; }
    .group-action-links a.flag .fa-bookmark,
    .group-action-links a.rate .fa-bookmark,
    .group-action-links a.twitter-share .fa-bookmark,
    .group-action-links a.linkedin-share .fa-bookmark,
    .group-action-links a.flag:visited .fa-bookmark {
      color: #18606b; }

.view-mode-full .group-action-links {
  margin-bottom: 1.6rem; }
  .view-mode-full .group-action-links .h1 {
    margin: 0; }
  .view-mode-full .group-action-links #widget_stars_rate_part.widget_stars {
    float: left; }
  .view-mode-full .group-action-links #widget_stars_rate_part.widget_stars,
  .view-mode-full .group-action-links .flag-outer.flag-outer-bookmarks,
  .view-mode-full .group-action-links .flag-outer.flag-outer-upvote-challenge,
  .view-mode-full .group-action-links .social-button {
    display: inline-block;
    margin-right: 1.6rem; }
    .view-mode-full .group-action-links #widget_stars_rate_part.widget_stars .ext,
    .view-mode-full .group-action-links .flag-outer.flag-outer-bookmarks .ext,
    .view-mode-full .group-action-links .flag-outer.flag-outer-upvote-challenge .ext,
    .view-mode-full .group-action-links .social-button .ext {
      display: none; }
  .view-mode-full .group-action-links a.flag,
  .view-mode-full .group-action-links a.rate,
  .view-mode-full .group-action-links a.twitter-share,
  .view-mode-full .group-action-links a.linkedin-share,
  .view-mode-full .group-action-links a.flag:visited {
    font-size: 1.33333333rem; }

.view-mode-full article .featured-image,
.view-mode-full article .field-name-field-image {
  margin-bottom: 1rem; }
  @media (max-width: 767px) {
    .view-mode-full article .featured-image,
    .view-mode-full article .field-name-field-image {
      max-width: 100%;
      float: none; } }
  @media (min-width: 768px) {
    .view-mode-full article .featured-image,
    .view-mode-full article .field-name-field-image {
      max-width: 50%;
      float: left;
      margin-right: 1rem; } }

.view-mode-full article img {
  max-width: 100%;
  margin-right: 1rem;
  margin-bottom: 1rem; }

.view-mode-full aside ul {
  list-style-type: none;
  padding: 0; }
  .view-mode-full aside ul li {
    margin-bottom: 0.46666667rem; }

.comment-wrapper {
  margin-top: 2rem; }

.node-teaser {
  display: block;
  clear: both;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #e2e2e2; }
  .node-teaser h2 {
    margin-top: 0;
    margin-bottom: 0.53333333rem;
    line-height: 1.33333333rem;
    font-size: 1.2rem; }
    .node-teaser h2 a {
      font-size: 1.2rem;
      font-weight: 600; }
    @media (min-width: 992px) {
      .node-teaser h2 {
        margin-right: 4rem; } }
  .node-teaser .node-teaser-subtitle {
    color: #666; }
  .node-teaser .node-teaser-body {
    margin-top: 0.66666667rem; }
  .node-teaser .group-action-links .flag-throbber {
    font-size: 0; }
  .node-teaser .group-action-links a {
    color: #999; }
  @media (max-width: 991px) {
    .node-teaser .group-action-links .flag-outer.flag-outer-bookmarks,
    .node-teaser .group-action-links .social-button {
      display: inline-block;
      margin-right: 1.66666667rem; } }
  @media (min-width: 992px) {
    .node-teaser .group-action-links {
      position: absolute;
      top: 0;
      right: 0; }
      .node-teaser .group-action-links .flag-outer.flag-outer-bookmarks,
      .node-teaser .group-action-links .social-button {
        display: inline-block;
        margin-left: 1rem; } }
  @media (min-width: 992px) {
    .node-teaser .tags {
      margin-bottom: 0; } }

.node-bb.node-teaser h2 {
  display: inline-block;
  margin-right: 0.3rem; }

.node-card {
  padding: 0;
  margin-bottom: 2rem;
  overflow: hidden; }
  .node-card .card-header {
    overflow: hidden; }
    .node-card .card-header .img-holder {
      margin: 0 auto 0;
      width: 120px;
      height: 120px;
      vertical-align: middle;
      overflow: hidden;
      border-radius: 50%; }
  .node-card h2 {
    margin: .5rem 0;
    font-size: 1.2rem;
    line-height: 1.46666667rem;
    font-weight: 600; }
  .node-card .card-content {
    padding: 1rem; }
    .node-card .card-content p {
      font-size: 1rem;
      margin: 1em 0; }
  .node-card .card-footer {
    padding: .3em 1em 1em 1em;
    overflow: hidden; }
    .node-card .card-footer div {
      display: inline-block;
      margin-right: 0.46666667rem; }

.node-overview-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none; }

.node-overview {
  float: none;
  display: inline-block;
  vertical-align: top;
  padding: 0.46666667rem;
  margin-right: -4px;
  margin-bottom: 1em;
  border: 1px solid #FFF;
  -webkit-transition: border-color .2s ease, -webkit-box-shadow .2s ease;
  transition: border-color .2s ease, -webkit-box-shadow .2s ease;
  -o-transition: border-color .2s ease, box-shadow .2s ease;
  transition: border-color .2s ease, box-shadow .2s ease;
  transition: border-color .2s ease, box-shadow .2s ease, -webkit-box-shadow .2s ease; }
  .node-overview .category-icon {
    display: inline-block;
    float: left; }
    .node-overview .category-icon i.fa {
      font-size: 18px;
      line-height: 22px;
      color: #777; }
  .node-overview h3 {
    margin-top: 0;
    margin-left: 24px;
    margin-bottom: 0.2rem;
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 600; }
  .node-overview span {
    font-size: 1rem;
    color: #777; }
  .node-overview .span-published {
    margin-left: 24px; }
  .node-overview:hover {
    border-color: #e5e5e5;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1); }
    .node-overview:hover h3 > a {
      color: #009688; }

.node-type-list dt {
  border-top: 1px solid #CCC;
  padding: .5em 0; }
  .node-type-list dt a:before {
    content: "+";
    font-size: 1.1em;
    margin-right: .3em;
    color: #666; }

.node-type-list dd {
  padding-bottom: .5em;
  text-indent: 1em; }

/*******************************************************************
** VIEWS
*******************************************************************/
.view-header {
  margin-bottom: 0.53333333rem; }

@media (min-width: 992px) {
  .page-learn-bibliography .view-header,
  .page-develop-components .view-header {
    float: left;
    margin-top: 2.13333333rem; } }

@media (min-width: 992px) {
  .page-learn-bibliography .view-filters,
  .page-develop-components .view-filters {
    float: right; }
    .page-learn-bibliography .view-filters .views-exposed-form .views-exposed-widget,
    .page-develop-components .view-filters .views-exposed-form .views-exposed-widget {
      padding: 0 0 0 1rem; }
    .page-learn-bibliography .view-filters .views-submit-button,
    .page-develop-components .view-filters .views-submit-button {
      display: none; } }

.view .date-nav-wrapper .date-prev {
  left: 0;
  right: auto; }

.widget_stars_rate span.spanstar {
  font-size: 50px; }

.markdown-body h1 {
  font-size: 1.73333333rem; }

.markdown-body img {
  float: none; }

.field-type-taxonomy-term-reference {
  margin-bottom: 1em; }

.user-info-picture img {
  width: 40px;
  float: left;
  border-radius: 100%;
  margin-right: 0.71428571rem; }

.challenge-prize-div,
.challenge-complexity-div,
.challenge-status-div {
  margin-bottom: 0.57142857rem; }

.challenge-prize-label,
.challenge-complexity-label,
.challenge-status-label {
  font-size: 1rem;
  font-weight: 500;
  margin-right: .5em;
  color: #777; }

.field-level-of-complexity {
  font-size: 1.1em;
  color: #FFF;
  padding: 0.1em 0.3em;
  line-height: 2em; }

.Task {
  background-color: green; }

.Challenge {
  background-color: orange; }

.Grand {
  background-color: black; }

.challenge-prize-value {
  line-height: 1.6em;
  font-size: 1.1em;
  font-weight: 600; }

.challenge-status-value {
  font-weight: 600;
  padding: 0.3em;
  text-align: center;
  background-color: rgba(255, 255, 0, 0.2);
  margin-bottom: 1em; }

.flag-upvote-challenge {
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.2);
          box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.2);
  font-weight: 500;
  padding: 3px 3px 4px 7px;
  text-align: center;
  background: #f1f8fb;
  border: 1px solid #bbcadc; }
  .flag-upvote-challenge a.flag {
    font-size: 1rem !important; }
  .flag-upvote-challenge .glyphicon {
    font-size: .9em;
    margin-right: .3em; }
  .flag-upvote-challenge:hover {
    border-color: #1e7684; }
  .flag-upvote-challenge .flag-count {
    margin-left: 3px;
    padding-left: 5px;
    font-size: .9em;
    border-left: 1px solid #bbcadc; }

.challenges-list > h3 {
  margin: 0.3rem 0; }

.tags {
  margin-bottom: 1rem; }
  .tags ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .tags ul > li {
    display: inline-block;
    margin-right: 0.2rem;
    font-size: 0.86666667rem;
    background-color: rgba(24, 96, 107, 0.1);
    padding: .2em .5em; }

.challenge-icon {
  padding: 0.3rem;
  border-radius: 50%;
  color: #FFF; }

.challenge-icon.Tasks {
  background-color: green; }

.challenge-icon.Challenges {
  background-color: orange; }

.challenge-icon.Grand-Challenges {
  background-color: DarkSlateGray; }

.group-docs h2 > span {
  font-size: inherit; }

.group-code-info {
  margin-bottom: 2rem;
  border-bottom: 1px solid #e5e5e5; }
  .group-code-info p {
    margin-bottom: 1rem; }
  .group-code-info .code-link {
    display: block;
    margin-bottom: 1rem; }
    .group-code-info .code-link .fa {
      font-size: 1.2rem;
      margin-right: 0.66666667rem; }
    .group-code-info .code-link a {
      font-weight: 600; }

html, body {
  font-size: 15px;
  font-family: 'Open Sans', Helvetica, sans-serif; }

@media (min-width: 768px) {
  html:not(.force-mobile-layout) body {
    border-top: 9.33333333rem solid transparent; }
  #push {
    clear: both;
    height: 8rem !important; } }

dl dt {
  margin-bottom: 0.66666667rem; }

h1 {
  font-size: 2.13333333rem;
  font-weight: 600; }

h2 {
  font-size: 1.6rem;
  font-weight: 600; }

h3 {
  font-size: 1.2rem;
  font-weight: 600; }

h4 {
  font-size: 1rem; }

article h2, aside h2, .region-sidebar-first h2, .region-sidebar-second h2 {
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: 600; }

article h3, aside h3, .region-sidebar-first h3, .region-sidebar-second h3 {
  font-size: 1rem;
  font-weight: 600; }

article .block, article .tag-block, aside .block, aside .tag-block, .region-sidebar-first .block, .region-sidebar-first .tag-block, .region-sidebar-second .block, .region-sidebar-second .tag-block {
  margin-bottom: 2rem; }

@media (min-width: 992px) {
  .page-taxonomy-term section.col-sm-24,
  .page-challenges section.col-sm-24,
  .not-front.node-type-page section.col-sm-24 {
    width: 70%;
    margin: 0 15%; } }

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 3rem; }

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#views-exposed-form-taxonomy-term-pages-block .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0; }

.region {
  display: block;
  clear: both;
  overflow: visible; }

.region-hero {
  clear: both;
  background-color: #FFF; }

#main-container {
  margin-top: 2rem; }

#footer-wrap {
  border-color: #18606b; }

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #18606b; }

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background-color: #18606b; }

.pagination > li > a, .pagination > li > span {
  color: #18606b; }
  .pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    color: #18606b; }

.btn-primary {
  background-color: #18606b; }
  .btn-primary:focus, .btn-primary:active, .btn-primary:hover {
    background-color: #124a52; }

a {
  color: #18606b; }
  a:hover, a:focus, a:active {
    color: #124a52; }
  a:visited {
    color: #1e7684; }

@media (min-width: 768px) {
  #footer-wrap {
    position: relative; } }

.facetapi-facetapi-checkbox-links {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .facetapi-facetapi-checkbox-links li {
    margin-bottom: .25rem; }
  .facetapi-facetapi-checkbox-links a.facetapi-checkbox {
    display: inline;
    margin-left: .25rem; }

.homepage-news #challenges {
  background-color: #5a85d7; }

.homepage-news #calendar {
  background-color: #eceff1; }

@media (max-width: 767px) {
  .search-button {
    position: absolute;
    top: 0;
    right: 68px;
    padding: 0.33333333rem 0.93333333rem;
    margin-top: 0.6rem;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 17px;
    color: #888; } }

@media (min-width: 768px) {
  .search-button {
    display: none; } }

.exposed-form {
  margin-bottom: 2rem; }

/*# sourceMappingURL=gpii_devspace.css.map */
