.front .welcome-block {
  margin-bottom: 1em; }

.front .page-header {
  display: none; }

.front .region-hero {
  padding: 1em 0;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  overflow: hidden; }
  @media (max-width: 991px) {
    .front .region-hero {
      width: 100%;
      padding: 0 1em 1em 1em; }
      .front .region-hero h1 {
        font-size: 2rem;
        line-height: 2.6rem; }
      .front .region-hero .input-group {
        width: 100%; } }

.front .input-group {
  width: 60%;
  margin-left: auto;
  margin-right: auto; }

.front input[type='text'] {
  font-size: 1.21428571rem;
  height: 38px;
  margin: 0 auto;
  border-color: #2c3849; }

.front .btn-primary {
  background-color: #e5e5e5;
  color: #2c3849;
  font-weight: 600; }
  .front .btn-primary:focus, .front .btn-primary:active, .front .btn-primary:hover {
    background-color: #dbdbdb;
    color: #202936; }

.card header {
  padding: 10px 0;
  text-align: center; }

.card header > h2 {
  font-size: 19px;
  color: #FFF; }
  .card header > h2 .glyphicon {
    top: 0;
    font-size: .8em;
    margin-right: .2em; }

.card .card-content {
  padding: 15px 20px; }

#learning-card header {
  background-color: #e44e31; }

#develop-card header {
  background-color: #084C56; }

#market-card header {
  background-color: #A72534; }

#people-card header {
  background-color: #2783c6; }

.view-subcategories-with-icons {
  overflow: hidden;
  margin-bottom: 1em; }
  .view-subcategories-with-icons .item-subcategory {
    display: inline-block;
    padding: 0.5rem 1em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 110px;
    border: 1px solid #FFF;
    border-radius: 5px;
    -webkit-transition: border-color .3s ease;
    -o-transition: border-color .3s ease;
    transition: border-color .3s ease; }
    .view-subcategories-with-icons .item-subcategory h2 {
      display: inline;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 2rem;
      font-weight: 100; }
    .view-subcategories-with-icons .item-subcategory h2 > a {
      color: #18606b;
      font-size: 1.28571429rem;
      font-weight: 100;
      -webkit-transition: color .3s ease;
      -o-transition: color .3s ease;
      transition: color .3s ease; }
  .view-subcategories-with-icons .subcategory-icon {
    background-color: #18606b;
    float: left;
    width: 42px;
    height: 42px;
    text-align: center;
    border-radius: 100%;
    margin-right: 0.71428571rem;
    -webkit-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease; }
  .view-subcategories-with-icons i.fa {
    font-size: 1.71428571rem;
    color: white;
    padding-top: 8px; }
  .view-subcategories-with-icons .field-content p {
    font-size: 0.85714286rem;
    margin-top: 0.35714286rem;
    margin-bottom: 0;
    margin-left: 52px;
    white-space: pre-line;
    display: block; }
  .view-subcategories-with-icons .item-subcategory:hover {
    border-color: #F1EEEA; }
    .view-subcategories-with-icons .item-subcategory:hover h2 > a {
      text-decoration: underline;
      color: #009688; }
    .view-subcategories-with-icons .item-subcategory:hover .subcategory-icon {
      background-color: #009688; }

.node-reference.view-mode-full .field-ref-row {
  overflow: hidden; }

.node-reference.view-mode-full .field-ref-label {
  margin-bottom: 1em;
  color: #777; }
  @media (min-width: 768px) {
    .node-reference.view-mode-full .field-ref-label {
      width: 200px;
      float: left;
      text-align: right; } }

.node-reference.view-mode-full .field-ref-items {
  margin-bottom: 1em; }
  @media (min-width: 768px) {
    .node-reference.view-mode-full .field-ref-items {
      margin-left: 216px; } }

.node-reference.view-mode-full .group-action-links {
  padding: 1em;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 1em; }

.node-reference.node-teaser {
  border-bottom: 1px solid #e2e2e2;
  padding: 1em 0; }
  .node-reference.node-teaser .reference-type {
    font-size: 0.85714286rem;
    font-weight: 600;
    color: #777; }
  .node-reference.node-teaser h3 {
    margin-top: 0;
    margin-bottom: 0.5rem; }
    .node-reference.node-teaser h3 a {
      font-size: 1.28571429rem; }

.field-publication-authors:not(.last) {
  margin-right: .3em; }
  .field-publication-authors:not(.last):after {
    content: ","; }

.group-user-info {
  display: block;
  clear: both;
  overflow: hidden;
  color: #777;
  margin-bottom: 0.71428571rem; }

.user-info-picture img {
  width: 40px;
  float: left;
  border-radius: 100%;
  margin-right: 0.71428571rem; }

.group-action-links > div {
  display: inline-block;
  margin-right: 0.5rem; }

.node-teaser {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid #e2e2e2; }
  .node-teaser h3 {
    margin-top: 0; }
    .node-teaser h3 a {
      font-size: 1.28571429rem; }

.node .field {
  margin-bottom: 1em; }

.field-type-taxonomy-term-reference {
  margin-bottom: 1em; }

.group-user-info {
  display: block;
  clear: both;
  overflow: hidden;
  margin-bottom: 0.71428571rem; }

.user-info-picture img {
  width: 40px;
  float: left;
  border-radius: 100%;
  margin-right: 0.71428571rem; }

.group-action-links {
  margin: 1.5rem 0 1rem; }
  .group-action-links div {
    display: inline-block;
    margin-right: 0.71428571rem; }

.challenge-prize-div,
.challenge-complexity-div,
.challenge-status-div {
  margin-bottom: 0.57142857rem; }

.challenge-prize-label,
.challenge-complexity-label,
.challenge-status-label {
  font-size: 1rem;
  font-weight: 500;
  margin-right: .5em;
  color: #777; }

.field-level-of-complexity {
  font-size: 1.1em;
  color: #FFF;
  padding: 0.1em 0.3em;
  line-height: 2em; }

.field-level-of-complexity.Low {
  background-color: green; }

.field-level-of-complexity.Medium {
  background-color: orange; }

.field-level-of-complexity.High {
  background-color: red; }

.field-level-of-complexity.Grand {
  background-color: black; }

.challenge-prize-value {
  line-height: 1.6em;
  font-size: 1.1em;
  font-weight: 600; }

.challenge-status-value {
  font-weight: 600;
  padding: 0.3em;
  text-align: center;
  background-color: rgba(255, 255, 0, 0.2);
  margin-bottom: 1em; }

.flag-upvote-challenge {
  background-color: red;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.2);
          box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.2);
  font-weight: 500;
  padding: 3px 3px 4px 7px;
  text-align: center;
  background: #f1f8fb;
  border: 1px solid #bbcadc; }
  .flag-upvote-challenge .glyphicon {
    font-size: .9em;
    margin-right: .3em; }
  .flag-upvote-challenge:hover {
    border-color: #1e7684; }
  .flag-upvote-challenge .flag-count {
    margin-left: 3px;
    padding-left: 5px;
    font-size: .9em;
    border-left: 1px solid #bbcadc; }

.node-type-list dt {
  border-top: 1px solid #CCC;
  padding: .5em 0; }
  .node-type-list dt a:before {
    content: "+";
    font-size: 1.1em;
    margin-right: .3em;
    color: #666; }

.node-type-list dd {
  padding-bottom: .5em;
  text-indent: 1em; }

.region-hero {
  background-color: #18606b; }

@media (min-width: 768px) {
  .navbar-nav.primary.menu.nav li > a:hover,
  .navbar-nav.primary.menu.nav li > a:focus {
    border-top-color: #18606b;
    color: #18606b;
    background-color: #FFF; }
  .navbar-nav.primary.menu.nav li > a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .navbar-nav.primary.menu.nav li.dropdown > a:hover {
    border-top-color: #18606b; }
  .navbar-nav.primary.menu.nav .dropdown.active > a,
  .navbar-nav.primary.menu.nav .dropdown.active > a:hover,
  .navbar-nav.primary.menu.nav .dropdown.active > a:focus,
  .navbar-nav.primary.menu.nav .active > a,
  .navbar-nav.primary.menu.nav .active > a:hover,
  .navbar-nav.primary.menu.nav .active > a:focus {
    border-top-color: #18606b; }
  .navbar-nav.primary.menu.nav .dropdown.open > a,
  .navbar-nav.primary.menu.nav .dropdown.open > a:hover,
  .navbar-nav.primary.menu.nav .dropdown.open > a:focus {
    color: #18606b;
    border-top-color: #18606b; } }

#footer-wrap {
  border-color: #18606b; }

#navbar p.lead {
  color: #18606b;
  text-align: left;
  padding-top: 0.35rem;
  margin-top: 0.9rem; }
  #navbar p.lead a, #navbar p.lead a:active, #navbar p.lead a:hover, #navbar p.lead a:focus {
    color: #18606b;
    font-size: 1.9rem;
    font-weight: 600; }

@media (max-width: 767px) {
  #navbar .navbar-header {
    height: 50px;
    border-bottom: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); }
    #navbar .navbar-header .navbar-btn {
      width: 64px;
      float: left;
      margin: 0.35714286rem 0 0 0.57142857rem;
      padding: 0; }
    #navbar .navbar-header p.lead {
      margin: 0.42857143rem 0 0 0; }
      #navbar .navbar-header p.lead a {
        font-size: 1.5rem; } }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: #18606b; }

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #18606b; }

.pagination > li > a, .pagination > li > span {
  color: #18606b; }
  .pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    color: #18606b; }

.btn-primary {
  background-color: #18606b; }
  .btn-primary:focus, .btn-primary:active, .btn-primary:hover {
    background-color: #124a52; }

a {
  color: #18606b; }
  a:hover, a:focus, a:active {
    color: #124a52; }
  a:visited {
    color: #1e7684; }

.views-row {
  padding: 1em 0 0 0; }
  .views-row h2 {
    margin-top: 0; }
  .views-row h2 > a {
    font-size: 1.28571429rem; }

/*# sourceMappingURL=gpii_devspace.css.map */
