# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

#Ignore nodeJS related paths
sites/all/themes/*/node_modules
sites/vendor
